<a href="https://colab.research.google.com/github/TP2512/shared_repo/blob/practice_coding/practice_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from dataclasses import dataclass

In [ ]:
@dataclass
class Stockprice:
  apple:int = 20
  google:int = 30
  tata:int = 40

  def stock_sum(self) -> int:
    return self.apple+self.google+self.tata

obj1=Stockprice(70,30,50)
print("obj1",obj1.stock_sum())
obj2=Stockprice()
print("obj2",obj2.stock_sum())

obj1 150
obj2 90

In [ ]:
class Vehicle:
  color='Red'
  def __init__(self,max_speed,milage):
    self.max_speed = max_speed
    self.milage = milage
    print(self.max_speed)
    print(self.milage)

  def seating_capacity(self,capcity):
    return capcity
  def fare(self,capacity):
    return self.seating_capacity(capacity) * 100

class Bus(Vehicle):
  def __init__(self,max_speed,milage,type='Bus'):
    super().__init__(max_speed,milage)
    self.type=type
    print(self.type)
  def seating_capacity(self,capcity=50):
    return capcity
  def fare(self,capacity=50):
    tfare=self.seating_capacity(capacity) * 100
    mcharge=(self.seating_capacity(capacity) * 100)/10
    return tfare+mcharge


bus1=Bus(100,25)
print(bus1.max_speed)
print(bus1.type)
print(bus1.seating_capacity())
print("fare of bus",bus1.fare())
veh1=Vehicle(200,30)
print(veh1.max_speed)
cap=veh1.seating_capacity(4)
print("fare of veh1",veh1.fare(4))
print(cap)
bus2=Bus(80,18)
print(bus2.type)
print("bus2",bus2.color)
print("veh1",veh1.color)

print("object type of bus1",type(bus1))
print("object type veh1",type(veh1))

print(isinstance(bus1,Bus))

print(Vehicle.__dict__.keys())

100
25
Bus
100
Bus
50
fare of bus 5500.0
200
30
200
fare of veh1 400
4
80
18
Bus
Bus
bus2 Red
veh1 Red
object type of bus1 <class '__main__.Bus'>
object type veh1 <class '__main__.Vehicle'>
True
dict_keys(['__module__', 'color', '__init__', 'seating_capacity', 'fare', '__dict__', '__weakref__', '__doc__'])

In [ ]:
for name in Vehicle.__dict__:
  print(name)

print(bus1.__dict__)

import builtins
help(builtins.abs)
print(builtins.abs(155))

def student(stu_name,stu_id,stu_class):
  return f'Student name is {stu_name} roll no is {stu_id} in class {stu_class}'

print(student('tarkesh',1,'13'))


def student(stu_id,**kwargs):
  print(kwargs)
  if kwargs['stu_name'] in kwargs:
    return f"student id {stu_id} and student name is {kwargs['stu_name']}"

  if kwargs['stu_name'] and kwargs['stu_class'] in kwargs:
    return f"student id {stu_id} and student name is {kwargs['stu_name']} and class is  {kwargs['stu_class']}"

student(stu_id=22,stu_name='tarkesh',stu_class=12)

__module__
color
__init__
seating_capacity
fare
__dict__
__weakref__
__doc__
{'max_speed': 100, 'milage': 25, 'type': 'Bus'}
Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

155
Student name is tarkesh roll no is 1 in class 13
{'stu_name': 'tarkesh', 'stu_class': 12}

In [ ]:
class Student:
  student_name='Tarkesh'
  student_id=22

student1=Student()
student1.student_class=12

print(student1.student_class)

for attr,value in Student.__dict__.items():
  if not attr.startswith('_'):
    print(f'{attr} --> {getattr(Student,attr)}')

12
student_name --> Tarkesh
student_id --> 22

In [ ]:
import itertools
def get_combinations(list_of_val):
  combinations=[]
  for ele in range(1,len(list_of_val)+1):
    combinations.extend(list(itertools.combinations(list_of_val,ele)))
  return combinations

input_values=[4,5,6]
output=get_combinations(input_values)
print(output)

[(4,), (5,), (6,), (4, 5), (4, 6), (5, 6), (4, 5, 6)]

In [ ]:
import itertools
print(list(itertools.combinations([4,5,6],1)))
print(list(itertools.combinations([4,5,6],2)))
print(list(itertools.combinations([4,5,6],3)))

[(4,), (5,), (6,)]
[(4, 5), (4, 6), (5, 6)]
[(4, 5, 6)]

In [ ]:
class user:
  def __init__(self):
    self.class_var="Tarkesh"
    self._single_und="Pujari"
    self.__double_und="Bale"

  def print_fun(self):
    print(self.__double_und)

obj1=user()
print(obj1.class_var)
print(obj1._single_und)
obj1.print_fun()
print(obj1.__double_und)

Tarkesh
Pujari
Bale

AttributeError: ignored

In [ ]:
"""Multiprocessing"""

import multiprocessing

def cubei(num):
  print(num**3)

def square(num):
  print(num**2)

for i in range(10,11):
  process1=multiprocessing.Process(target=cubei,args=[i,])
  process2=multiprocessing.Process(target=square,args=[i,])

  process1.start()
  process2.start()

  process1.join()
  process2.join()

  print("Both processes are completed")

print("The number of CPU currently working in system : ", multiprocessing.cpu_count())

1000100

Both processes are completed
The number of CPU currently working in system :  2

In [ ]:
#pool in multiprocessing
import multiprocessing

class getting_cube_parellal:
  def sqrte(self,num):
    return num**2

if __name__=='__main__':
  pool1=multiprocessing.Pool()
  obj=getting_cube_parellal()
  results=pool1.map(obj.sqrte,[2,3,4])
  print(results)

[4, 9, 16]

In [ ]:
#Queue in multiprocessing
import multiprocessing

queue=Queue()
def object_adding_into_que(que_obj):
  obj_list=[bus1,veh1,bus2]
  for obj in obj_list:
    queue.put(obj)

pr1=multiprocessing.Process(target=object_adding_into_que,args=[queue,])

pr1.start()

pr1.join()

while not queue.empty():
  print(queue.get())

<__main__.Bus object at 0x7c449ca84820>
<__main__.Vehicle object at 0x7c449ca84820>
<__main__.Bus object at 0x7c449ca84820>

In [ ]:
import multiprocessing

class MyClass:
    def __init__(self, value):
        self.value = value

    def process(self):
        # Perform some processing on the value
        self.value = self.value ** 2

def worker(queue):
    while True:
        obj = queue.get()
        if obj is None:
            break
        obj.process()

if __name__ == "__main__":
    # Create a multiprocessing Queue
    queue = multiprocessing.Queue()

    # Create worker processes
    num_workers = multiprocessing.cpu_count()
    print("num of workers",num_workers)
    workers = [multiprocessing.Process(target=worker, args=(queue,)) for _ in range(num_workers)]
    print(workers)

    # Start the worker processes
    for w in workers:
        w.start()

    # Put objects into the queue
    objects = [MyClass(2), MyClass(3), MyClass(4)]
    for obj in objects:
        queue.put(obj)

    # Add None objects to signal the workers to exit
    for _ in range(num_workers):
        queue.put(None)

    # Wait for the workers to finish
    for w in workers:
        w.join()

    # Retrieve the processed objects from the queue
    processed_objects = []
    while not queue.empty():
        processed_objects.append(queue.get())

    # Print the processed objects
    for obj in processed_objects:
        print(obj.value)

num of workers 2
[<Process name='Process-13' parent=1025 initial>, <Process name='Process-14' parent=1025 initial>]

In [ ]:
workes=[ _ for _ in range(multiprocessing.cpu_count())]
print(workes)

[0, 1]

In [ ]:
#threading
import threading
import multiprocessing

def printnum():
  for i in range(6):
    print(f"Thread 1: {i}")

def printalpha():
  for i in ['a','b','c','d','e','f']:
    print(f"Thread 2: {i}")


thr1=threading.Thread(target=printnum)
thr2=threading.Thread(target=printalpha)

thr1.start()
thr2.start()

thr1.join()
thr2.join()

print("from main thread")
print("multiprocessing")
thr1=multiprocessing.Process(target=printnum)
thr2=multiprocessing.Process(target=printalpha)

thr1.start()
thr2.start()

thr1.join()
thr2.join()

Thread 1: 0
Thread 1: 1
Thread 1: 2
Thread 1: 3
Thread 1: 4
Thread 1: 5
Thread 2: a
Thread 2: b
Thread 2: c
Thread 2: d
Thread 2: e
Thread 2: f
from main thread
multiprocessing
Thread 1: 0
Thread 1: 1
Thread 2: a
Thread 1: 2
Thread 2: bThread 1: 3

Thread 2: cThread 1: 4

Thread 2: dThread 1: 5
Thread 2: e

Thread 2: f

In [ ]:
import threading
import multiprocessing

# Function to be executed in a thread
def thread_func(name):
    print("Hello from thread", name)

# Function to be executed in a process
def process_func(name):
    print("Hello from process", name)

if __name__ == "__main__":
    # Threading example
    threads = []
    for i in range(5):
        thread = threading.Thread(target=thread_func, args=(i,))
        threads.append(thread)
        thread.start()

    for thread in threads:
        thread.join()

    print("---")

    # Multiprocessing example
    processes = []
    for i in range(5):
        process = multiprocessing.Process(target=process_func, args=(i,))
        processes.append(process)
        process.start()

    for process in processes:
        process.join()

Hello from thread 0
Hello from thread 1
Hello from thread 2
Hello from thread 3
Hello from thread 4
---
Hello from process 0
Hello from processHello from processHello from process   Hello from process23
14

In [ ]:
from os import remove
#dictionaries

dict1={"Name":'Mangesh',
       "surname":'Bhosale',
       "Add":'Borivali',
       "Contact No": 1234
       }

print(dict1)
print("Name of Emp:",dict1['Name'])

for key in dict1:
  print("Printing values using key in dict",dict1[key])

for col,emp_det in dict1.items():
  print("Printing key,val from items",col,':',emp_det)

for val in dict1.values():
  print("Printing only values",val)

for key in dict1.keys():
  print("Printing only keys",key)

if 'Name' in dict1:
  print("Name is in dict1")

print("using get",dict1.get('Name'))

dict1['Name']='Mangessh'
print("After chaning name using =",dict1.values())

dict1.update({"surname":"Patil"})
print("After changing using update",dict1.values())

x=dict1.items()
print("use items on dict1",x)

dict1['Adhar']='Y'
print("Addes new element in dict",dict1)

dict1.update({'Citizenship':'Bhutan'})
print("After adding new element using update",dict1.values())

dict1.pop('Name')
print("After removing using pop",dict1)

del(dict1['surname'])
print("After removing element using del",dict1)

dict1.popitem()
print("popitem will remove last inserted elem from dict",dict1)

dict2={"Name":'Mangesh',"add":['borivali','Mumbai',['vashi','cyberone',['11th floor','Airspan']],'412004'],'Adhar':'Y'}
dict3=dict2.copy()
print("cpopied dict2 into dict3 using copy",dict3)

dict4=dict2
print("copied dict2 into dict4 using =",dict4)

print(dict4['add'][2][2][1])

child_dict={'child1':{'name':'child1','byear':'2021'},'child2':{'name':'child2','byear':'2023'}}
print("child_dicchild1name",child_dict['child1']['name'])

l1=['name','surname','add']
l2='tarkesh'

dict5=dict.fromkeys(l1,l2)
print(dict5)

print(dict2)
dict2['phoneNo']='9080'
x=dict2.setdefault('phoneNo','9870')
print(len(dict2))

{'Name': 'Mangesh', 'surname': 'Bhosale', 'Add': 'Borivali', 'Contact No': 1234}
Name of Emp: Mangesh
Printing values using key in dict Mangesh
Printing values using key in dict Bhosale
Printing values using key in dict Borivali
Printing values using key in dict 1234
Printing key,val from items Name : Mangesh
Printing key,val from items surname : Bhosale
Printing key,val from items Add : Borivali
Printing key,val from items Contact No : 1234
Printing only values Mangesh
Printing only values Bhosale
Printing only values Borivali
Printing only values 1234
Printing only keys Name
Printing only keys surname
Printing only keys Add
Printing only keys Contact No
Name is in dict1
using get Mangesh
After chaning name using = dict_values(['Mangessh', 'Bhosale', 'Borivali', 1234])
After changing using update dict_values(['Mangessh', 'Patil', 'Borivali', 1234])
use items on dict1 dict_items([('Name', 'Mangessh'), ('surname', 'Patil'), ('Add', 'Borivali'), ('Contact No', 1234)])
Addes new element in dict {'Name': 'Mangessh', 'surname': 'Patil', 'Add': 'Borivali', 'Contact No': 1234, 'Adhar': 'Y'}
After adding new element using update dict_values(['Mangessh', 'Patil', 'Borivali', 1234, 'Y', 'Bhutan'])
After removing using pop {'surname': 'Patil', 'Add': 'Borivali', 'Contact No': 1234, 'Adhar': 'Y', 'Citizenship': 'Bhutan'}
After removing element using del {'Add': 'Borivali', 'Contact No': 1234, 'Adhar': 'Y', 'Citizenship': 'Bhutan'}
popitem will remove last inserted elem from dict {'Add': 'Borivali', 'Contact No': 1234, 'Adhar': 'Y'}
cpopied dict2 into dict3 using copy {'Name': 'Mangesh', 'add': ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Adhar': 'Y'}
copied dict2 into dict4 using = {'Name': 'Mangesh', 'add': ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Adhar': 'Y'}
Airspan
child_dicchild1name child1
{'name': 'tarkesh', 'surname': 'tarkesh', 'add': 'tarkesh'}
{'Name': 'Mangesh', 'add': ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Adhar': 'Y'}
4

In [ ]:
#List Operations
l1=['tarkesh',7820,'pujari']
print(l1)
for ele in l1:
  print(ele)

l1[0]='mangesh'
print("l1",l1)

l1.remove(7820)
print(l1)

l1.append(7820)
print("appended 7820 at last",l1)

l1.insert(1,'Y')
print("inserting element at 2nd",l1)

print("l1[-3:-2]",l1[-4:])

if 'mangesh' in l1:
  print("yes mangesh is list")

print("list before list l1",l1)
l1[2:4]=["gurav",9080]
print("changed l1",l1)

l1.extend(dict2.values())
print("extended by dict",l1)

l1.pop()
print("popped out an element",l1)

del l1[0]
print("deleted an element",l1)

l2=[1,2,3,4,5,6]
for no in l2:
  print("list element directly",no)

for no in range(len(l2)):
  print("list by index",l2[no])

cont=0
while cont<len(l2):
  print("while list",l2[cont])
  cont=cont+1

l3=[i for i in l2 if i%2==0]
print("list l3 from l2 using list comprehension",l3)

l4=["apple","Mango","pinapple","Del"]
up_li=[ele.upper() for ele in l4]
print("upper case",up_li)

l2.sort(reverse=True)
print("reversed l2",l2)

l4.sort(key=str.lower)
print("custom sort lower case",l4)

['tarkesh', 7820, 'pujari']
tarkesh
7820
pujari
l1 ['mangesh', 7820, 'pujari']
['mangesh', 'pujari']
appended 7820 at last ['mangesh', 'pujari', 7820]
inserting element at 2nd ['mangesh', 'Y', 'pujari', 7820]
l1[-3:-2] ['mangesh', 'Y', 'pujari', 7820]
yes mangesh is list
list before list l1 ['mangesh', 'Y', 'pujari', 7820]
changed l1 ['mangesh', 'Y', 'gurav', 9080]
extended by dict ['mangesh', 'Y', 'gurav', 9080, 'Mangesh', ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Y', '9080']
popped out an element ['mangesh', 'Y', 'gurav', 9080, 'Mangesh', ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Y']
deleted an element ['Y', 'gurav', 9080, 'Mangesh', ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Y']
list element directly 1
list element directly 2
list element directly 3
list element directly 4
list element directly 5
list element directly 6
list by index 1
list by index 2
list by index 3
list by index 4
list by index 5
list by index 6
while list 1
while list 2
while list 3
while list 4
while list 5
while list 6
list l3 from l2 using list comprehension [2, 4, 6]
upper case ['APPLE', 'MANGO', 'PINAPPLE', 'DEL']
reversed l2 [6, 5, 4, 3, 2, 1]
custom sort lower case ['apple', 'Del', 'Mango', 'pinapple']

In [ ]:
#json handling
import json

x =  '{ "name":"John", "age":30, "city":"New York"}'

json_to_python_dict=json.loads(x)
print("json string",x," loaded into python dictioanry:",json_to_python_dict)
print("json string",x," loaded into python as a dictioanry and get only value of name key:",json_to_python_dict['name'])

dict6={'name':'tarkesh','surname':'pujari'}

json_string_from_python_dict=json.dumps(dict6)
print("printing json string from python dict:",json_string_from_python_dict)

list_of_ele="[1,2,3,4,5]"
json_string_from_list=json.loads(list_of_ele)
print("getting json_sttring_to_list",json_string_from_list)
print("getting json_sttring_to_list getting 0 index value",json_string_from_list[0])

json string { "name":"John", "age":30, "city":"New York"}  loaded into python dictioanry: {'name': 'John', 'age': 30, 'city': 'New York'}
json string { "name":"John", "age":30, "city":"New York"}  loaded into python as a dictioanry and get only value of name key: John
printing json string from python dict: {"name": "tarkesh", "surname": "pujari"}
getting json_sttring_to_list [1, 2, 3, 4, 5]
getting json_sttring_to_list getting 0 index value 1

In [ ]:
list1=[1,2,3,4]
#output: 3,4,1,2   [5,6,1,2,3,4] [3,4,5,6,1,2] [1,2,3,4,5,6].....n=6

n=len(list1)
for i in range(1,n+1):
  list1=list1[-2:]+list1[:-2]
  print(list1)

# for j in range(0,2):
#   for i in range(0,n,2):
#     start_ele=n-i
#     list_from_start_ele=[]
#     list_till_start_ele=[]
#     for i in range(start_ele,n):
#       list_from_start_ele.append(list1[i])

#     for i in range(0,start_ele):
#       list_till_start_ele.append(list1[i])

#     list_from_start_ele.extend(list_till_start_ele)
#     print(list_from_start_ele)



  # if i%start_ele==0:
  #   break
  # else:
  #   ind=(i%n)-start_ele
  #   print(list1[ind])

[3, 4, 1, 2]
[1, 2, 3, 4]
[3, 4, 1, 2]
[1, 2, 3, 4]

In [ ]:
d={"k1":[1,2,3],
"k2":[4,5,6],
"K3":[7,8,9]}

"""desired output
O/p:
{"k3":[9,7,8], "k1":[3,1,2], "K2":[6,4,5]}
{"k2":[5,6,4], "k3":[8,9,7], "K1":[2,3,1]}
{"k1":[1,2,3], "k2":[4,5,6], "K3":[7,8,9]}
"""
d={"k1":[1,2,3],
"k2":[4,5,6],
"K3":[7,8,9]}

list_of_kv=list(d.keys())
list_of_keys=[]
for i in range(1,len(list_of_kv)+1):
  list_of_kv=list_of_kv[1:]+list_of_kv[:1]
  list_of_keys.append(list_of_kv)

list_of_keys=list_of_keys[0:-1]
print(d)

for i in list_of_keys:
  dict1={}
  for j in i:
    if j in d.keys():
      value=d[j]
      value=value[1:]+value[:1]
      dict1[j]=value
  d=dict1
  print(dict1)

{'k1': [1, 2, 3], 'k2': [4, 5, 6], 'K3': [7, 8, 9]}
{'k2': [5, 6, 4], 'K3': [8, 9, 7], 'k1': [2, 3, 1]}
{'K3': [9, 7, 8], 'k1': [3, 1, 2], 'k2': [6, 4, 5]}

In [ ]:
import math

S="BALGANGADHAR"
# o/p:
# *********
# *Tarkesh*
# *********


#S=input()
print('*'*(len(S)+2))
print('*'+S[:(math.ceil(len(S)/2))]+S[:-(math.ceil(len(S)/2)):-1]+'*')
print('*'*(len(S)+2))

*******
*SWAYM*
*******

In [ ]:
from re import I
# You need to remove items from a list while iterating but without creating a different copy of a list.
# Remove numbers greater than 50
# Given:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# Expected Output: -
# [10, 20, 30, 40, 50]

number_list=[i for i in number_list if i< 50]
print(number_list)

[10, 20, 30, 40]

In [ ]:
# Reverse Dictionary mapping
# Given:
ascii_dict = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
# Expected Output:
# {65: 'A', 66: 'B', 67: 'C', 68: 'D'}

ascii_dict={value:key for key,value in ascii_dict.items()}

# list_of_keys=[key for key in ascii_dict.keys()]

# for i in list_of_keys:
#   value=ascii_dict[i]
#   ascii_dict.pop(i)
#   ascii_dict.update({value:i})

print(ascii_dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [ ]:
# Display all duplicate items from a list
# Given:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
# Expected Output: -[20, 60, 30]

otl=list(set([i for i in sample_list if sample_list.count(i) >= 2]))
#print(list(set(otl)))
print(otl)

[20, 60, 30]

In [ ]:
#  Filter dictionary to contain keys present in the given list
# Given:
# # Dictionary
d1 = {'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70}
# # Filter dict using following keys
l1 = ['A', 'C', 'F']
# Expected Output: -new dict {'A': 65, 'C': 67, 'F': 70}
new_dict={}
for key,value in d1.items():
  if key in l1:
    new_dict[key]=value
print(new_dict)

{'A': 65, 'C': 67, 'F': 70}

In [ ]:
# Print the following number pattern
# 1 1 1 1 1
# 2 2 2 2
# 3 3 3
# 4 4
# 5
n=6
for i in range(1,n):
  for j in range(n-i,0,-1):
    print(i,end=' ')
  print('\n')

1 1 1 1 1

2 2 2 2

3 3 3

4 4

5

In [ ]:
def add_it_up(n):
  if isinstance(n,int):
    c=0
    for i in range(0,n+1):
      c+=i
    return c
  else:
    return 0

if __name__=="__main__":
  print(add_it_up(4))
  print("other option")
  print(sum(range(0,4)))

10
other option
6

In [ ]:
def cipher(input_txt,no_of_shifts):
  for i in list(input_txt):
    if i.isalpha():
      print(chr(((ord(i) - ord('a') + no_of_shifts) % 26) + ord('a')))
      #print(chr(ord(i)+no_of_shifts))
    else:
      print(i)

cipher('abcd xyz',4)

e
f
g
h

b
c
d

In [ ]:
#circular list
list1=['a','b','c','d','e']

start_ind=list1.index('c')
n=len(list1)
for i in range(2,n+2):
  #print(list1[i])
  prind=i%n
  print(list1[prind])

c
d
e
a
b

In [ ]:
for i in range(0,6):
  print(i%3)

0
1
2
0
1
2

In [ ]:
#singleton use

class SingletonClass:
  _instance=None
  print(_instance ,"instance is None")

  def __new__(cls):
    if cls._instance is None:
      print("inside cls",cls._instance)
      cls._instance =super().__new__(cls)
      print("instance after super inside cls",cls._instance)
    return cls._instance

print("calling class creating obj")
obj1=SingletonClass()
obj1.name="tarkesh"
print(obj1)
print(obj1._instance)
print(obj1.name)
obj2=SingletonClass()
print(obj2.name)
print(obj2._instance)

print(obj1 is obj2)

print(obj1.__dict__)

for name in SingletonClass.__dict__:
    print(name)

None instance is None
calling class creating obj
inside cls None
instance after super inside cls <__main__.SingletonClass object at 0x7cc144b86590>
<__main__.SingletonClass object at 0x7cc144b86590>
<__main__.SingletonClass object at 0x7cc144b86590>
tarkesh
tarkesh
<__main__.SingletonClass object at 0x7cc144b86590>
True
{'name': 'tarkesh'}
__module__
_instance
__new__
__dict__
__weakref__
__doc__

In [ ]:
class Singleton(type):
    _instances = {}
    print("class called ",_instances)
    def __call__(cls, *args, **kwargs):
        if cls not in Singleton._instances:
            print("inside class single instaces",Singleton._instances)
            Singleton._instances[cls] = super().__call__(*args, **kwargs)
            print("after super inside class single instaces",Singleton._instances)
            print(Singleton._instances[cls])
        return Singleton._instances[cls]
    def clear(cls):
        try:
            del Singleton._instances[cls]
        except KeyError:
            pass
    def __deepcopy__(cls, instance):
        return instance
class EnvironmentObjects(metaclass=Singleton):
    print("calling singlton")
    def __init__(self):
        print("inside env cls")
        self.tree = None
        self.setup_obj = None
        self.test_sir_obj = None
        self.jenkins_args = None
        self.log_and_file_path = None

print("creating object")
obj1=EnvironmentObjects()
print("object created and now creating new attribute in obj1")
print(obj1.tree)
obj1.tree='Tarkesh'
print("obj1 tree",obj1.tree)
print("creating second object")
obj2=EnvironmentObjects()
print("object created")
print(obj1 is obj2)
print("obj2 tree",obj2.tree)

class called  {}
calling singlton
creating object
inside class single instaces {}
inside env cls
after super inside class single instaces {<class '__main__.EnvironmentObjects'>: <__main__.EnvironmentObjects object at 0x7cc15d2a7310>}
<__main__.EnvironmentObjects object at 0x7cc15d2a7310>
object created and now creating new attribute in obj1
None
obj1 tree Tarkesh
creating second object
object created
Tarkesh
True
obj2 tree Tarkesh

In [ ]:
class test():
  _name = 'Tarkesh'
  __surname= 'pujari'
  Add = 'Bale'

obj1=test()
print("org name")
print(obj1._name)
obj1._name='TS'
print("changed name")
print(obj1._name)

print("org add",obj1.Add)
obj1.Add='Solapur'
print("changed add",obj1.Add)
#print(obj1.__surname)

obj2=test()
print("org name")
print(obj2._name)
obj2._name='TS'
print("changed name")
print(obj1._name)

org name
Tarkesh
changed name
TS
org add Bale
changed add Solapur
org name
Tarkesh
changed name
TS

In [ ]:
#class method and static method

class cab:

  nuofcabs = 0
  noofpasengers = 0

  def __init__(self,driver,nokms,places=None,fare=None,passengers=0):
    self.driver = driver
    self.nokms = nokms
    self.places = places
    self.fare = fare
    cab.nuofcabs = cab.nuofcabs + 1
    cab.noofpasengers = cab.noofpasengers + passengers

  def rateperkm(self):
    return (self.fare/self.noofkms)

  @classmethod
  def noofcabs(cls):
    return cls.nuofcabs

  @classmethod
  def avgnoofpassengers(cls):
    return int(cls.noofpasengers/cls.nuofcabs)

  @staticmethod
  def billvalidation(fare):
    return int(fare)>0

class truck(cab):
  def __init__(self,driver,nokms,tyers):
    super().__init__(driver,nokms)
    self.tyers=tyers

  def billvalidation(fare):
    return int(fare)>0


firstcab=cab("Ramesh",80,['delhi','noida'],2200,3)
secondcab=cab("Raman",40,['gurgaon','chndigad'],2500,3)
thirdcab=cab("Raghav",70,['mumbai','jaipur'],3000,5)
fourthcab=cab("Rembo",50,['Delhi','jaipur'],3300,5)

print(firstcab.driver)
print(secondcab.places)
print(thirdcab.nokms)
print("firstcab obj",firstcab.noofcabs())

print("no of cabs",cab.noofcabs())
print("no of passengers",cab.avgnoofpassengers())
print(cab.billvalidation(1))

firsttruck=truck("Rembo",20,6)
print(firsttruck.tyers)
print(truck.billvalidation(9))

Ramesh
['gurgaon', 'chndigad']
70
firstcab obj 4
no of cabs 4
no of passengers 4
True
6
True

In [ ]:
#Method overloading
#__str__ readable representation of object
class message:
  def __init__(self,msg=None):
    self.msg=msg
  def details(self,msg=None):
    if msg is not None:
      print("My message to the world is",msg)
    else:
      print("No mssage")
  def __str__(self):
    return "This object is of " + str(self.msg)

x=message("sadda haq")
print(x)
x.details()
x.details("sadda haq")
x1=message("etthe rakh")
print(x1)
x1.details("leke pehla pehla pyaar")

This object is of sadda haq
No mssage
My message to the world is sadda haq
This object is of etthe rakh
My message to the world is leke pehla pehla pyaar

In [ ]:
#getters and setters

class vehicle:
  def __init__(self,fname,lname):
    print("inside init")
    self.fname=fname
    self.lname=lname
    #self.email=self.fname+'.'+self.lname+'@uber.com'

  @property
  def email(self):
    print("inside property")
    return self.fname + '.' + self.lname + '@uber.com'

  @email.setter
  def email(self,address):
    print("inside email")
    first=address[:address.find('.')]
    last=address[address.find('.')+1:address.find('@')]
    self.fname=first
    self.lname=last

veh1=vehicle("tarkesh","pujari")

print(veh1.fname)
print(veh1.lname)
veh1.fname='tom'
veh1.lname='cruse'
print(veh1.email)
print(veh1.fname,veh1.lname)
veh1.email='lucky.420@uber.com'
print(veh1.fname,veh1.lname)

inside init
tarkesh
pujari
inside property
tom.cruse@uber.com
tom cruse
inside email
lucky 420

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print("*",end=" ")
  print('**',end=" ")
  for k in range(i):
    print("*",end=" ")
  print('\n')
for i in range((n-1),0,-1):
  for j in range(i):
    print("*",end=" ")
  print('\n')

**

* ** *

* * ** * *

* * * ** * * *

* * * * ** * * * *

* * * *

* * *

* *

*

In [ ]:
#'''In the example below, we are creating donation class with amount attribute. Amount must lie between 10 and 1,000,000.
#If user enters less than 10, it should be set as 10. Similarly, if user tries to enter a value greater than 1 million,
# it should be capped to 1 million only.'''
class donation:
  def __init__(self,amount):
    print("inside init")
    self.amount = amount
    print("inside init",self.amount)


  @property
  def amount(self):
    print("inside property")
    return self.__amount

  @amount.setter
  def amount(self,amount):
    print("inside setter")
    if amount<10:
      self.__amount=10
      print(self.__amount)
    elif amount>1000:
      self.__amount=1000
    else:
      self.__amount=amount

charity=donation(5)
print(charity.amount)

inside init
inside setter
10
inside property
inside init 10
inside property
10

In [ ]:
class Rectangle:
  def __init__(self,length,width):
    self.length=length
    self.width=width

  def area_of_rectangle(self):
    return self.__length*self.__width

  def perimeter_of_rectangle(self):
    return 2*(self.__width+self.__length)

  @property
  def length(self,length):
    return self.__length

  @property
  def width(self,width):
    return self.__width

  @length.setter
  def length(self,length):
    if length<=1:
      self.__length=2
    else:
      self.__length=length

  @width.setter
  def width(self,width):
    if width <=1:
      self.__width=2
    else:
      self.__width=width


area=Rectangle(0,0)
print(area.area_of_rectangle())

4

In [ ]:
n=5
s="* "
ds="** "
for i in range(n*2):
  if i == 0:
    print(ds)
  elif i < n:
    print(s*i+ds+s*i)
  else:
    print(s*((n*2)-(i+1)))

**
* ** *
* * ** * *
* * * ** * * *
* * * * ** * * * *
* * * *
* * *
* *
*

In [ ]:
#decorators

def dividebyzero(func):
  def inner(a,b):
    if b==0:
      return ("value of b must be positive")
    else:
      return func(a,b)
  return inner

@dividebyzero
def div(a,b):
  return a/b

print(div(4,2))
#div()

2.0

In [ ]:
#chaining decorators
def star(func):
  def inner(msg):
    print('*'*15)
    func(msg)
    print('*'*15)
  return inner


def percentage(func):
  def inner(msg):
    print('%'*15)
    func(msg)
    print('%'*15)
  return inner

@star
@percentage
def printer(msg):
  print(msg)

@star
def sqr(a):
  print( a**2)
#printer("Tarkesh")

sqr(2)

***************
4
***************

In [ ]:
import re
pattern='ab?y'
test_string='ababyyss1234'
#result=re.match(pattern,test_string)
#print(result)
print(re.findall(pattern,test_string))

['aby']

In [ ]:
x,y=2,3
print(x,y)
y,x=x,y
print(x,y)

2 3
3 2

In [ ]:
#solving quadratic equation
import cmath
a=1
b=5
c=6

d=(b**2)-(4*a*c)
n=2*a

x1=(-b+cmath.sqrt(d))/n
x2=(-b-cmath.sqrt(d))/n

print(x1,x2)

(-2+0j) (-3+0j)

In [ ]:
#area of triangle
a=5
b=6
c=7
s=(a+b+c)/2
area=cmath.sqrt(s*(s-a)*(s-b)*(s-c))
print('The area of the triangle is %0.2f' % area.real)

The area of the triangle is 14.70

In [ ]:
#generating random number in range 0-10
import random
print(random.randint(0,10))

7

In [ ]:
#convert miles to km
miles=float(input("Enter miles"))
conv_fac=0.621371
km=miles/conv_fac

print('%0.2f miles is eqaul to kms %0.2f' %(miles,km))

Enter miles2
2.00 miles is eqaul to kms 3.22

In [ ]:
 #prime number
 n=4
 flag=0
 for i in range(2,n):
  if n%i==0:
    print("not prime number")
    #flag=1
    break
 else:
  print("prime number")

# if flag :
#   print(n,"number is not prime")
# else:
#   print(n,"number is prime number")

not prime number

In [ ]:
#FIBONACI SERIES   ....0,1,1,2,3,5,8...

n=7
prev=0
next=1
counter=1
print(0,end=",")
while counter < n:
  prev,next=next,prev+next
  counter+=1
  print(prev,end=",")

0,1,1,2,3,5,8,

In [ ]:
#armstrong number
n=153
mainv=n
res=153
counter=0
while res>0:
  res=res//10
  counter+=1
print(counter)
sum=0
while n>0:
  rem=n%10
  n=n//10
  print(rem,n)
  sum=sum+(rem**counter)

if sum==mainv:
  print('%5i is armstrong number' %mainv ,'because its sum is %5i' %sum)

3
3 15
5 1
1 0
  153 is armstrong number because its sum is   153

In [ ]:
n=16
res=0
for i in range(n+1):
  res=i+res

print(res)

136

In [ ]:
#anonymous function

sqr= lambda x:x**2
print(list(map(sqr,range(10))))

print(list(filter(lambda x: (x%13==0),range(40))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#finding HCF
x1=12
x2=24

if x1<x2:
  for i in range(x1,1,-1):
    if x1%i==0 and x2%i ==0:
      print(i,"is hcf of x1 and x2")
      break

12 is hcf of x1 and x2

In [ ]:
#finding LCM

x1=12
x2=14
if x1<x2:
  lcm=0
  gt=x2
  while lcm<=0:
    if gt%x1==0 and gt%x2 ==0:
      print(gt,"is LCM of x1 and x2")
      lcm=gt
      break
    else:
      gt+=1

84 is LCM of x1 and x2

In [ ]:
#factors of any number
n=320
for i in range(1,n+1):
  if n%i==0:
    print(f'{i} is factor of {n}')

1 is factor of 320
2 is factor of 320
4 is factor of 320
5 is factor of 320
8 is factor of 320
10 is factor of 320
16 is factor of 320
20 is factor of 320
32 is factor of 320
40 is factor of 320
64 is factor of 320
80 is factor of 320
160 is factor of 320
320 is factor of 320

In [ ]:
#shuffling cards
import itertools, random
deck = list(itertools.product(range(1,14),['Spade','Heart','Diamond','Club']))
print(deck)

random.shuffle(deck)
print(deck)

for i in range(1,5):
  num=random.randint(1,52)
  print(deck[num][0],"of",deck[num][1])

[(1, 'Spade'), (1, 'Heart'), (1, 'Diamond'), (1, 'Club'), (2, 'Spade'), (2, 'Heart'), (2, 'Diamond'), (2, 'Club'), (3, 'Spade'), (3, 'Heart'), (3, 'Diamond'), (3, 'Club'), (4, 'Spade'), (4, 'Heart'), (4, 'Diamond'), (4, 'Club'), (5, 'Spade'), (5, 'Heart'), (5, 'Diamond'), (5, 'Club'), (6, 'Spade'), (6, 'Heart'), (6, 'Diamond'), (6, 'Club'), (7, 'Spade'), (7, 'Heart'), (7, 'Diamond'), (7, 'Club'), (8, 'Spade'), (8, 'Heart'), (8, 'Diamond'), (8, 'Club'), (9, 'Spade'), (9, 'Heart'), (9, 'Diamond'), (9, 'Club'), (10, 'Spade'), (10, 'Heart'), (10, 'Diamond'), (10, 'Club'), (11, 'Spade'), (11, 'Heart'), (11, 'Diamond'), (11, 'Club'), (12, 'Spade'), (12, 'Heart'), (12, 'Diamond'), (12, 'Club'), (13, 'Spade'), (13, 'Heart'), (13, 'Diamond'), (13, 'Club')]
[(6, 'Heart'), (12, 'Heart'), (6, 'Spade'), (3, 'Diamond'), (2, 'Diamond'), (11, 'Diamond'), (10, 'Heart'), (1, 'Spade'), (4, 'Diamond'), (10, 'Spade'), (5, 'Club'), (10, 'Diamond'), (4, 'Heart'), (9, 'Club'), (13, 'Diamond'), (12, 'Club'), (3, 'Spade'), (4, 'Spade'), (7, 'Diamond'), (3, 'Heart'), (7, 'Spade'), (11, 'Spade'), (5, 'Spade'), (6, 'Club'), (13, 'Club'), (9, 'Spade'), (13, 'Spade'), (10, 'Club'), (8, 'Club'), (6, 'Diamond'), (8, 'Spade'), (1, 'Diamond'), (5, 'Diamond'), (9, 'Heart'), (12, 'Spade'), (2, 'Club'), (3, 'Club'), (8, 'Heart'), (11, 'Club'), (4, 'Club'), (7, 'Heart'), (12, 'Diamond'), (2, 'Spade'), (7, 'Club'), (1, 'Heart'), (8, 'Diamond'), (2, 'Heart'), (13, 'Heart'), (11, 'Heart'), (9, 'Diamond'), (1, 'Club'), (5, 'Heart')]
4 of Heart
8 of Diamond
12 of Spade
3 of Diamond

In [ ]:
#fibonnaci series using recurssion  o/p:0,1,1,2,3,5,8,13......

def fib(n):
  if n<=1:
    return n
  else:
    #print("fib(n-1)",fib(n-1))
    #print("fib(n-2)",fib(n-2))
    return (fib(n-1) + fib(n-2))

for i in range(8):
  print(fib(i))

0
1
1
2
3
5
8
13

In [ ]:
#find sum of natural number using recurssion
n=10

def sum(n):
  if n==1:
    return n
  else:
    return n+sum(n-1)

print(sum(n))

55

In [ ]:
#find factorail number using recurssion

n=4
def fac(n):
  if n==1:
    return n
  else:
    return n*fac(n-1)

print(fac(n))

24

In [ ]:
# Program to add two matrices using nested loop

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result=[[X[i][j]+Y[i][j] for j in range(len(X[0]))] for i in range(len(X))]

for r in result:
   print(r)
# sum=[]
# for i in range(len(X)):
#   tsum=[]
#   for j in range(len(X[i])):
#     tsum.append(X[i][j]+Y[i][j])
#   sum.append(tsum)
# print(sum)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
#transpose matrix
X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

result=[[X[i][j] for i in range(len(X))] for j in range(len(X[0]))]

# for j in range(len(X[0])):
#   for i in range(len(X)):
#     result[j][i]=X[i][j]

for r in result:
  print(r)

[12, 4, 3]
[7, 5, 8]

In [ ]:
# Program to check if a string is palindrome or not
my_str = 'taat'
my_str = my_str.casefold()  #to make it lowercase
my_str_new=list(reversed(my_str))
if my_str_new==list(my_str):
  print("its palindrom")
else:
  print("not palindrom")

not palindrom

In [ ]:
# program remove punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str = "Hello!!!, he said ---and went."

result=[]

for i in my_str:
  if i not in punctuations:
    result.append(i)

result=''.join(result)
print(result)

Hello he said and went

In [ ]:
# Program to sort alphabetically the words form a string provided by the user
my_str = "Hello this Is an Example With cased letters"
my_str=my_str.casefold()

list_of_words=my_str.split(' ')
print(list_of_words)
list_of_words.sort()
print(list_of_words)

['hello', 'this', 'is', 'an', 'example', 'with', 'cased', 'letters']
['an', 'cased', 'example', 'hello', 'is', 'letters', 'this', 'with']

In [ ]:
# Program to perform different set operations like in mathematics

# define three sets
E = {0, 2, 4, 6, 8};
N = {1, 2, 3, 4, 5};

print("union of E and N is :" ,E|N)
print("intersection of E and N is :" ,E&N)
print("diffrence of E and N is :" ,E-N)
print("diffrence of E and N is :" ,N-E)
print("symetric diffrence of E and N is :" ,N^E)

union of E and N is : {0, 1, 2, 3, 4, 5, 6, 8}
intersection of E and N is : {2, 4}
diffrence of E and N is : {0, 8, 6}
diffrence of E and N is : {1, 3, 5}
symetric diffrence of E and N is : {0, 1, 3, 5, 6, 8}

In [ ]:
# Program to count the number of each vowels

str_vowels='aeiou'
ip_str = 'Hello, have you tried our tutorial section yet?'
ip_str=ip_str.casefold()
for i in str_vowels:
  counter=0
  for j in ip_str.split(' '):
    if i in j:
      counter+=1
  print(f'{i} is {counter} number of times')

a is 2 number of times
e is 5 number of times
i is 3 number of times
o is 5 number of times
u is 3 number of times

In [ ]:
dict={j:{i:i**2 for i in range(1,3)} for j in range(1,3)}
print(dict)

{1: {1: 1, 2: 4}, 2: {1: 1, 2: 4}}

In [ ]:
#Python Program to Flatten a Nested List
my_list = [[1], [2, 3], [4, 5, 6, 7]]
flattened_list=[]
for i in my_list:
  flattened_list.extend(i)
print(flattened_list)
#OR
flattened_list=[j for i in my_list for j in i]
print(flattened_list)
#OR
import itertools
print(list(itertools.chain(*my_list)))

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#sort dict by value

dt = {5:4, 1:6, 6:3}
dt=sorted(dt.items())
dt={i:j for i,j in dt}
print(dt)

{1: 6, 5: 4, 6: 3}

In [ ]:
l1=[1,2]
l2=[]

if not l1:
  print("its empty")

In [1]:
#practice paramiko script
import paramiko

host="localhost"
username="tarkesh"
password="tarkesh@123"
command=["ls","df -h"]

client=paramiko.client.SSHClient()
client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
client.connect(host,username=username,password=password)
_stdin,_stdout,_stderr=client.exec_command("ls")
print(_stdout.read().decode('utf-8'))
client.close()

ModuleNotFoundError: ignored

In [7]:
class InterviewbitEmployee:

    # protected members
    _emp_name = None
    _age = None

    # private members
    __branch = None

    # constructor
    def __init__(self, emp_name, age, branch):
         self._emp_name = emp_name
         self._age = age
         self.__branch = branch

    #public member
    def display(self):
        print(self._emp_name +" "+self._age+" "+self.__branch)

obj1=InterviewbitEmployee('Tarkesh','29','Mumbai')
obj1.display()
obj1._emp_name
obj1._age
#obj1.__branch this will give error  no attribute '__branch'

Tarkesh 29 Mumbai

'29'