<a href="https://colab.research.google.com/github/TP2512/shared_repo/blob/practice_coding/Practice_Coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from dataclasses import dataclass

In [ ]:
@dataclass
class Stockprice:
  apple:int = 20
  google:int = 30
  tata:int = 40

  def stock_sum(self) -> int:
    return self.apple+self.google+self.tata

obj1=Stockprice(70,30,50)
print("obj1",obj1.stock_sum())
obj2=Stockprice()
print("obj2",obj2.stock_sum())

obj1 150
obj2 90

In [ ]:
class Vehicle:
  color='Red'
  def __init__(self,max_speed,milage):
    self.max_speed = max_speed
    self.milage = milage
    print(self.max_speed)
    print(self.milage)

  def seating_capacity(self,capcity):
    return capcity
  def fare(self,capacity):
    return self.seating_capacity(capacity) * 100

class Bus(Vehicle):
  def __init__(self,max_speed,milage,type='Bus'):
    super().__init__(max_speed,milage)
    self.type=type
    print(self.type)
  def seating_capacity(self,capcity=50):
    return capcity
  def fare(self,capacity=50):
    tfare=self.seating_capacity(capacity) * 100
    mcharge=(self.seating_capacity(capacity) * 100)/10
    return tfare+mcharge


bus1=Bus(100,25)
print(bus1.max_speed)
print(bus1.type)
print(bus1.seating_capacity())
print("fare of bus",bus1.fare())
veh1=Vehicle(200,30)
print(veh1.max_speed)
cap=veh1.seating_capacity(4)
print("fare of veh1",veh1.fare(4))
print(cap)
bus2=Bus(80,18)
print(bus2.type)
print("bus2",bus2.color)
print("veh1",veh1.color)

print("object type of bus1",type(bus1))
print("object type veh1",type(veh1))

print(isinstance(bus1,Bus))

print(Vehicle.__dict__.keys())

100
25
Bus
100
Bus
50
fare of bus 5500.0
200
30
200
fare of veh1 400
4
80
18
Bus
Bus
bus2 Red
veh1 Red
object type of bus1 <class '__main__.Bus'>
object type veh1 <class '__main__.Vehicle'>
True
dict_keys(['__module__', 'color', '__init__', 'seating_capacity', 'fare', '__dict__', '__weakref__', '__doc__'])

In [ ]:
for name in Vehicle.__dict__:
  print(name)

print(bus1.__dict__)

import builtins
help(builtins.abs)
print(builtins.abs(155))

def student(stu_name,stu_id,stu_class):
  return f'Student name is {stu_name} roll no is {stu_id} in class {stu_class}'

print(student('tarkesh',1,'13'))


def student(stu_id,**kwargs):
  print(kwargs)
  if kwargs['stu_name'] in kwargs:
    return f"student id {stu_id} and student name is {kwargs['stu_name']}"

  if kwargs['stu_name'] and kwargs['stu_class'] in kwargs:
    return f"student id {stu_id} and student name is {kwargs['stu_name']} and class is  {kwargs['stu_class']}"

student(stu_id=22,stu_name='tarkesh',stu_class=12)

__module__
color
__init__
seating_capacity
fare
__dict__
__weakref__
__doc__
{'max_speed': 100, 'milage': 25, 'type': 'Bus'}
Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

155
Student name is tarkesh roll no is 1 in class 13
{'stu_name': 'tarkesh', 'stu_class': 12}

In [ ]:
class Student:
  student_name='Tarkesh'
  student_id=22

student1=Student()
student1.student_class=12

print(student1.student_class)

for attr,value in Student.__dict__.items():
  if not attr.startswith('_'):
    print(f'{attr} --> {getattr(Student,attr)}')

12
student_name --> Tarkesh
student_id --> 22

In [ ]:
import itertools
def get_combinations(list_of_val):
  combinations=[]
  for ele in range(1,len(list_of_val)+1):
    combinations.extend(list(itertools.combinations(list_of_val,ele)))
  return combinations

input_values=[4,5,6]
output=get_combinations(input_values)
print(output)

[(4,), (5,), (6,), (4, 5), (4, 6), (5, 6), (4, 5, 6)]

In [ ]:
import itertools
print(list(itertools.combinations([4,5,6],1)))
print(list(itertools.combinations([4,5,6],2)))
print(list(itertools.combinations([4,5,6],3)))

[(4,), (5,), (6,)]
[(4, 5), (4, 6), (5, 6)]
[(4, 5, 6)]

In [ ]:
class user:
  def __init__(self):
    self.class_var="Tarkesh"
    self._single_und="Pujari"
    self.__double_und="Bale"

  def print_fun(self):
    print(self.__double_und)

obj1=user()
print(obj1.class_var)
print(obj1._single_und)
obj1.print_fun()
print(obj1.__double_und)

Tarkesh
Pujari
Bale

AttributeError: ignored

In [ ]:
"""Multiprocessing"""

import multiprocessing

def cubei(num):
  print(num**3)

def square(num):
  print(num**2)

for i in range(10,11):
  process1=multiprocessing.Process(target=cubei,args=[i,])
  process2=multiprocessing.Process(target=square,args=[i,])

  process1.start()
  process2.start()

  process1.join()
  process2.join()

  print("Both processes are completed")

print("The number of CPU currently working in system : ", multiprocessing.cpu_count())

1000100

Both processes are completed
The number of CPU currently working in system :  2

In [ ]:
#pool in multiprocessing
import multiprocessing

class getting_cube_parellal:
  def sqrte(self,num):
    return num**2

if __name__=='__main__':
  pool1=multiprocessing.Pool()
  obj=getting_cube_parellal()
  results=pool1.map(obj.sqrte,[2,3,4])
  print(results)

[4, 9, 16]

In [ ]:
#Queue in multiprocessing
import multiprocessing

queue=Queue()
def object_adding_into_que(que_obj):
  obj_list=[bus1,veh1,bus2]
  for obj in obj_list:
    queue.put(obj)

pr1=multiprocessing.Process(target=object_adding_into_que,args=[queue,])

pr1.start()

pr1.join()

while not queue.empty():
  print(queue.get())

<__main__.Bus object at 0x7c449ca84820>
<__main__.Vehicle object at 0x7c449ca84820>
<__main__.Bus object at 0x7c449ca84820>

In [ ]:
import multiprocessing

class MyClass:
    def __init__(self, value):
        self.value = value

    def process(self):
        # Perform some processing on the value
        self.value = self.value ** 2

def worker(queue):
    while True:
        obj = queue.get()
        if obj is None:
            break
        obj.process()

if __name__ == "__main__":
    # Create a multiprocessing Queue
    queue = multiprocessing.Queue()

    # Create worker processes
    num_workers = multiprocessing.cpu_count()
    print("num of workers",num_workers)
    workers = [multiprocessing.Process(target=worker, args=(queue,)) for _ in range(num_workers)]
    print(workers)

    # Start the worker processes
    for w in workers:
        w.start()

    # Put objects into the queue
    objects = [MyClass(2), MyClass(3), MyClass(4)]
    for obj in objects:
        queue.put(obj)

    # Add None objects to signal the workers to exit
    for _ in range(num_workers):
        queue.put(None)

    # Wait for the workers to finish
    for w in workers:
        w.join()

    # Retrieve the processed objects from the queue
    processed_objects = []
    while not queue.empty():
        processed_objects.append(queue.get())

    # Print the processed objects
    for obj in processed_objects:
        print(obj.value)

num of workers 2
[<Process name='Process-13' parent=1025 initial>, <Process name='Process-14' parent=1025 initial>]

In [ ]:
workes=[ _ for _ in range(multiprocessing.cpu_count())]
print(workes)

[0, 1]

In [ ]:
#threading
import threading
import multiprocessing

def printnum():
  for i in range(6):
    print(f"Thread 1: {i}")

def printalpha():
  for i in ['a','b','c','d','e','f']:
    print(f"Thread 2: {i}")


thr1=threading.Thread(target=printnum)
thr2=threading.Thread(target=printalpha)

thr1.start()
thr2.start()

thr1.join()
thr2.join()

print("from main thread")
print("multiprocessing")
thr1=multiprocessing.Process(target=printnum)
thr2=multiprocessing.Process(target=printalpha)

thr1.start()
thr2.start()

thr1.join()
thr2.join()

Thread 1: 0
Thread 1: 1
Thread 1: 2
Thread 1: 3
Thread 1: 4
Thread 1: 5
Thread 2: a
Thread 2: b
Thread 2: c
Thread 2: d
Thread 2: e
Thread 2: f
from main thread
multiprocessing
Thread 1: 0
Thread 1: 1
Thread 2: a
Thread 1: 2
Thread 2: bThread 1: 3

Thread 2: cThread 1: 4

Thread 2: dThread 1: 5
Thread 2: e

Thread 2: f

In [ ]:
import threading
import multiprocessing

# Function to be executed in a thread
def thread_func(name):
    print("Hello from thread", name)

# Function to be executed in a process
def process_func(name):
    print("Hello from process", name)

if __name__ == "__main__":
    # Threading example
    threads = []
    for i in range(5):
        thread = threading.Thread(target=thread_func, args=(i,))
        threads.append(thread)
        thread.start()

    for thread in threads:
        thread.join()

    print("---")

    # Multiprocessing example
    processes = []
    for i in range(5):
        process = multiprocessing.Process(target=process_func, args=(i,))
        processes.append(process)
        process.start()

    for process in processes:
        process.join()

Hello from thread 0
Hello from thread 1
Hello from thread 2
Hello from thread 3
Hello from thread 4
---
Hello from process 0
Hello from processHello from processHello from process   Hello from process23
14

In [ ]:
from os import remove
#dictionaries

dict1={"Name":'Mangesh',
       "surname":'Bhosale',
       "Add":'Borivali',
       "Contact No": 1234
       }

print(dict1)
print("Name of Emp:",dict1['Name'])

for key in dict1:
  print("Printing values using key in dict",dict1[key])

for col,emp_det in dict1.items():
  print("Printing key,val from items",col,':',emp_det)

for val in dict1.values():
  print("Printing only values",val)

for key in dict1.keys():
  print("Printing only keys",key)

if 'Name' in dict1:
  print("Name is in dict1")

print("using get",dict1.get('Name'))

dict1['Name']='Mangessh'
print("After chaning name using =",dict1.values())

dict1.update({"surname":"Patil"})
print("After changing using update",dict1.values())

x=dict1.items()
print("use items on dict1",x)

dict1['Adhar']='Y'
print("Addes new element in dict",dict1)

dict1.update({'Citizenship':'Bhutan'})
print("After adding new element using update",dict1.values())

dict1.pop('Name')
print("After removing using pop",dict1)

del(dict1['surname'])
print("After removing element using del",dict1)

dict1.popitem()
print("popitem will remove last inserted elem from dict",dict1)

dict2={"Name":'Mangesh',"add":['borivali','Mumbai',['vashi','cyberone',['11th floor','Airspan']],'412004'],'Adhar':'Y'}
dict3=dict2.copy()
print("cpopied dict2 into dict3 using copy",dict3)

dict4=dict2
print("copied dict2 into dict4 using =",dict4)

print(dict4['add'][2][2][1])

child_dict={'child1':{'name':'child1','byear':'2021'},'child2':{'name':'child2','byear':'2023'}}
print("child_dicchild1name",child_dict['child1']['name'])

l1=['name','surname','add']
l2='tarkesh'

dict5=dict.fromkeys(l1,l2)
print(dict5)

print(dict2)
dict2['phoneNo']='9080'
x=dict2.setdefault('phoneNo','9870')
print(len(dict2))

{'Name': 'Mangesh', 'surname': 'Bhosale', 'Add': 'Borivali', 'Contact No': 1234}
Name of Emp: Mangesh
Printing values using key in dict Mangesh
Printing values using key in dict Bhosale
Printing values using key in dict Borivali
Printing values using key in dict 1234
Printing key,val from items Name : Mangesh
Printing key,val from items surname : Bhosale
Printing key,val from items Add : Borivali
Printing key,val from items Contact No : 1234
Printing only values Mangesh
Printing only values Bhosale
Printing only values Borivali
Printing only values 1234
Printing only keys Name
Printing only keys surname
Printing only keys Add
Printing only keys Contact No
Name is in dict1
using get Mangesh
After chaning name using = dict_values(['Mangessh', 'Bhosale', 'Borivali', 1234])
After changing using update dict_values(['Mangessh', 'Patil', 'Borivali', 1234])
use items on dict1 dict_items([('Name', 'Mangessh'), ('surname', 'Patil'), ('Add', 'Borivali'), ('Contact No', 1234)])
Addes new element in dict {'Name': 'Mangessh', 'surname': 'Patil', 'Add': 'Borivali', 'Contact No': 1234, 'Adhar': 'Y'}
After adding new element using update dict_values(['Mangessh', 'Patil', 'Borivali', 1234, 'Y', 'Bhutan'])
After removing using pop {'surname': 'Patil', 'Add': 'Borivali', 'Contact No': 1234, 'Adhar': 'Y', 'Citizenship': 'Bhutan'}
After removing element using del {'Add': 'Borivali', 'Contact No': 1234, 'Adhar': 'Y', 'Citizenship': 'Bhutan'}
popitem will remove last inserted elem from dict {'Add': 'Borivali', 'Contact No': 1234, 'Adhar': 'Y'}
cpopied dict2 into dict3 using copy {'Name': 'Mangesh', 'add': ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Adhar': 'Y'}
copied dict2 into dict4 using = {'Name': 'Mangesh', 'add': ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Adhar': 'Y'}
Airspan
child_dicchild1name child1
{'name': 'tarkesh', 'surname': 'tarkesh', 'add': 'tarkesh'}
{'Name': 'Mangesh', 'add': ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Adhar': 'Y'}
4

In [ ]:
#List Operations
l1=['tarkesh',7820,'pujari']
print(l1)
for ele in l1:
  print(ele)

l1[0]='mangesh'
print("l1",l1)

l1.remove(7820)
print(l1)

l1.append(7820)
print("appended 7820 at last",l1)

l1.insert(1,'Y')
print("inserting element at 2nd",l1)

print("l1[-3:-2]",l1[-4:])

if 'mangesh' in l1:
  print("yes mangesh is list")

print("list before list l1",l1)
l1[2:4]=["gurav",9080]
print("changed l1",l1)

l1.extend(dict2.values())
print("extended by dict",l1)

l1.pop()
print("popped out an element",l1)

del l1[0]
print("deleted an element",l1)

l2=[1,2,3,4,5,6]
for no in l2:
  print("list element directly",no)

for no in range(len(l2)):
  print("list by index",l2[no])

cont=0
while cont<len(l2):
  print("while list",l2[cont])
  cont=cont+1

l3=[i for i in l2 if i%2==0]
print("list l3 from l2 using list comprehension",l3)

l4=["apple","Mango","pinapple","Del"]
up_li=[ele.upper() for ele in l4]
print("upper case",up_li)

l2.sort(reverse=True)
print("reversed l2",l2)

l4.sort(key=str.lower)
print("custom sort lower case",l4)

['tarkesh', 7820, 'pujari']
tarkesh
7820
pujari
l1 ['mangesh', 7820, 'pujari']
['mangesh', 'pujari']
appended 7820 at last ['mangesh', 'pujari', 7820]
inserting element at 2nd ['mangesh', 'Y', 'pujari', 7820]
l1[-3:-2] ['mangesh', 'Y', 'pujari', 7820]
yes mangesh is list
list before list l1 ['mangesh', 'Y', 'pujari', 7820]
changed l1 ['mangesh', 'Y', 'gurav', 9080]
extended by dict ['mangesh', 'Y', 'gurav', 9080, 'Mangesh', ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Y', '9080']
popped out an element ['mangesh', 'Y', 'gurav', 9080, 'Mangesh', ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Y']
deleted an element ['Y', 'gurav', 9080, 'Mangesh', ['borivali', 'Mumbai', ['vashi', 'cyberone', ['11th floor', 'Airspan']], '412004'], 'Y']
list element directly 1
list element directly 2
list element directly 3
list element directly 4
list element directly 5
list element directly 6
list by index 1
list by index 2
list by index 3
list by index 4
list by index 5
list by index 6
while list 1
while list 2
while list 3
while list 4
while list 5
while list 6
list l3 from l2 using list comprehension [2, 4, 6]
upper case ['APPLE', 'MANGO', 'PINAPPLE', 'DEL']
reversed l2 [6, 5, 4, 3, 2, 1]
custom sort lower case ['apple', 'Del', 'Mango', 'pinapple']

In [ ]:
#json handling
import json

x =  '{ "name":"John", "age":30, "city":"New York"}'

json_to_python_dict=json.loads(x)
print("json string",x," loaded into python dictioanry:",json_to_python_dict)
print("json string",x," loaded into python as a dictioanry and get only value of name key:",json_to_python_dict['name'])

dict6={'name':'tarkesh','surname':'pujari'}

json_string_from_python_dict=json.dumps(dict6)
print("printing json string from python dict:",json_string_from_python_dict)

list_of_ele="[1,2,3,4,5]"
json_string_from_list=json.loads(list_of_ele)
print("getting json_sttring_to_list",json_string_from_list)
print("getting json_sttring_to_list getting 0 index value",json_string_from_list[0])

json string { "name":"John", "age":30, "city":"New York"}  loaded into python dictioanry: {'name': 'John', 'age': 30, 'city': 'New York'}
json string { "name":"John", "age":30, "city":"New York"}  loaded into python as a dictioanry and get only value of name key: John
printing json string from python dict: {"name": "tarkesh", "surname": "pujari"}
getting json_sttring_to_list [1, 2, 3, 4, 5]
getting json_sttring_to_list getting 0 index value 1

In [ ]:
list1=[1,2,3,4]
#output: 3,4,1,2   [5,6,1,2,3,4] [3,4,5,6,1,2] [1,2,3,4,5,6].....n=6

n=len(list1)
for i in range(1,n+1):
  list1=list1[-2:]+list1[:-2]
  print(list1)

# for j in range(0,2):
#   for i in range(0,n,2):
#     start_ele=n-i
#     list_from_start_ele=[]
#     list_till_start_ele=[]
#     for i in range(start_ele,n):
#       list_from_start_ele.append(list1[i])

#     for i in range(0,start_ele):
#       list_till_start_ele.append(list1[i])

#     list_from_start_ele.extend(list_till_start_ele)
#     print(list_from_start_ele)



  # if i%start_ele==0:
  #   break
  # else:
  #   ind=(i%n)-start_ele
  #   print(list1[ind])

[3, 4, 1, 2]
[1, 2, 3, 4]
[3, 4, 1, 2]
[1, 2, 3, 4]

In [ ]:
d={"k1":[1,2,3],
"k2":[4,5,6],
"K3":[7,8,9]}

"""desired output
O/p:
{"k3":[9,7,8], "k1":[3,1,2], "K2":[6,4,5]}
{"k2":[5,6,4], "k3":[8,9,7], "K1":[2,3,1]}
{"k1":[1,2,3], "k2":[4,5,6], "K3":[7,8,9]}
"""
d={"k1":[1,2,3],
"k2":[4,5,6],
"K3":[7,8,9]}

list_of_kv=list(d.keys())
list_of_keys=[]
for i in range(1,len(list_of_kv)+1):
  list_of_kv=list_of_kv[1:]+list_of_kv[:1]
  list_of_keys.append(list_of_kv)

list_of_keys=list_of_keys[0:-1]
print(d)

for i in list_of_keys:
  dict1={}
  for j in i:
    if j in d.keys():
      value=d[j]
      value=value[1:]+value[:1]
      dict1[j]=value
  d=dict1
  print(dict1)

{'k1': [1, 2, 3], 'k2': [4, 5, 6], 'K3': [7, 8, 9]}
{'k2': [5, 6, 4], 'K3': [8, 9, 7], 'k1': [2, 3, 1]}
{'K3': [9, 7, 8], 'k1': [3, 1, 2], 'k2': [6, 4, 5]}

In [ ]:
import math

S="BALGANGADHAR"
# o/p:
# *********
# *Tarkesh*
# *********


#S=input()
print('*'*(len(S)+2))
print('*'+S[:(math.ceil(len(S)/2))]+S[:-(math.ceil(len(S)/2)):-1]+'*')
print('*'*(len(S)+2))

*******
*SWAYM*
*******

In [ ]:
from re import I
# You need to remove items from a list while iterating but without creating a different copy of a list.
# Remove numbers greater than 50
# Given:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# Expected Output: -
# [10, 20, 30, 40, 50]

number_list=[i for i in number_list if i< 50]
print(number_list)

[10, 20, 30, 40]

In [ ]:
# Reverse Dictionary mapping
# Given:
ascii_dict = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
# Expected Output:
# {65: 'A', 66: 'B', 67: 'C', 68: 'D'}

ascii_dict={value:key for key,value in ascii_dict.items()}

# list_of_keys=[key for key in ascii_dict.keys()]

# for i in list_of_keys:
#   value=ascii_dict[i]
#   ascii_dict.pop(i)
#   ascii_dict.update({value:i})

print(ascii_dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [ ]:
# Display all duplicate items from a list
# Given:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
# Expected Output: -[20, 60, 30]

otl=list(set([i for i in sample_list if sample_list.count(i) >= 2]))
#print(list(set(otl)))
print(otl)

[20, 60, 30]

In [ ]:
#  Filter dictionary to contain keys present in the given list
# Given:
# # Dictionary
d1 = {'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70}
# # Filter dict using following keys
l1 = ['A', 'C', 'F']
# Expected Output: -new dict {'A': 65, 'C': 67, 'F': 70}
new_dict={}
for key,value in d1.items():
  if key in l1:
    new_dict[key]=value
print(new_dict)

{'A': 65, 'C': 67, 'F': 70}

In [ ]:
# Print the following number pattern
# 1 1 1 1 1
# 2 2 2 2
# 3 3 3
# 4 4
# 5
n=6
for i in range(1,n):
  for j in range(n-i,0,-1):
    print(i,end=' ')
  print('\n')

1 1 1 1 1

2 2 2 2

3 3 3

4 4

5

In [ ]:
def add_it_up(n):
  if isinstance(n,int):
    c=0
    for i in range(0,n+1):
      c+=i
    return c
  else:
    return 0

if __name__=="__main__":
  print(add_it_up(4))
  print("other option")
  print(sum(range(0,4)))

10
other option
6

In [ ]:
def cipher(input_txt,no_of_shifts):
  for i in list(input_txt):
    if i.isalpha():
      print(chr(((ord(i) - ord('a') + no_of_shifts) % 26) + ord('a')))
      #print(chr(ord(i)+no_of_shifts))
    else:
      print(i)

cipher('abcd xyz',4)

e
f
g
h

b
c
d

In [ ]:
#circular list
list1=['a','b','c','d','e']

start_ind=list1.index('c')
n=len(list1)
for i in range(2,n+2):
  #print(list1[i])
  prind=i%n
  print(list1[prind])

c
d
e
a
b

In [ ]:
for i in range(0,6):
  print(i%3)

0
1
2
0
1
2

In [ ]:
#singleton use

class SingletonClass:
  _instance=None
  print(_instance ,"instance is None")

  def __new__(cls):
    if cls._instance is None:
      print("inside cls",cls._instance)
      cls._instance =super().__new__(cls)
      print("instance after super inside cls",cls._instance)
    return cls._instance

print("calling class creating obj")
obj1=SingletonClass()
obj1.name="tarkesh"
print(obj1)
print(obj1._instance)
print(obj1.name)
obj2=SingletonClass()
print(obj2.name)
print(obj2._instance)

print(obj1 is obj2)

print(obj1.__dict__)

for name in SingletonClass.__dict__:
    print(name)

None instance is None
calling class creating obj
inside cls None
instance after super inside cls <__main__.SingletonClass object at 0x7cc144b86590>
<__main__.SingletonClass object at 0x7cc144b86590>
<__main__.SingletonClass object at 0x7cc144b86590>
tarkesh
tarkesh
<__main__.SingletonClass object at 0x7cc144b86590>
True
{'name': 'tarkesh'}
__module__
_instance
__new__
__dict__
__weakref__
__doc__

In [ ]:
class Singleton(type):
    _instances = {}
    print("class called ",_instances)
    def __call__(cls, *args, **kwargs):
        if cls not in Singleton._instances:
            print("inside class single instaces",Singleton._instances)
            Singleton._instances[cls] = super().__call__(*args, **kwargs)
            print("after super inside class single instaces",Singleton._instances)
            print(Singleton._instances[cls])
        return Singleton._instances[cls]
    def clear(cls):
        try:
            del Singleton._instances[cls]
        except KeyError:
            pass
    def __deepcopy__(cls, instance):
        return instance
class EnvironmentObjects(metaclass=Singleton):
    print("calling singlton")
    def __init__(self):
        print("inside env cls")
        self.tree = None
        self.setup_obj = None
        self.test_sir_obj = None
        self.jenkins_args = None
        self.log_and_file_path = None

print("creating object")
obj1=EnvironmentObjects()
print("object created and now creating new attribute in obj1")
print(obj1.tree)
obj1.tree='Tarkesh'
print("obj1 tree",obj1.tree)
print("creating second object")
obj2=EnvironmentObjects()
print("object created")
print(obj1 is obj2)
print("obj2 tree",obj2.tree)

class called  {}
calling singlton
creating object
inside class single instaces {}
inside env cls
after super inside class single instaces {<class '__main__.EnvironmentObjects'>: <__main__.EnvironmentObjects object at 0x7cc15d2a7310>}
<__main__.EnvironmentObjects object at 0x7cc15d2a7310>
object created and now creating new attribute in obj1
None
obj1 tree Tarkesh
creating second object
object created
Tarkesh
True
obj2 tree Tarkesh

In [ ]:
class test():
  _name = 'Tarkesh'
  __surname= 'pujari'
  Add = 'Bale'

obj1=test()
print("org name")
print(obj1._name)
obj1._name='TS'
print("changed name")
print(obj1._name)

print("org add",obj1.Add)
obj1.Add='Solapur'
print("changed add",obj1.Add)
#print(obj1.__surname)

obj2=test()
print("org name")
print(obj2._name)
obj2._name='TS'
print("changed name")
print(obj1._name)

org name
Tarkesh
changed name
TS
org add Bale
changed add Solapur
org name
Tarkesh
changed name
TS

In [ ]:
#class method and static method

class cab:

  nuofcabs = 0
  noofpasengers = 0

  def __init__(self,driver,nokms,places=None,fare=None,passengers=0):
    self.driver = driver
    self.nokms = nokms
    self.places = places
    self.fare = fare
    cab.nuofcabs = cab.nuofcabs + 1
    cab.noofpasengers = cab.noofpasengers + passengers

  def rateperkm(self):
    return (self.fare/self.noofkms)

  @classmethod
  def noofcabs(cls):
    return cls.nuofcabs

  @classmethod
  def avgnoofpassengers(cls):
    return int(cls.noofpasengers/cls.nuofcabs)

  @staticmethod
  def billvalidation(fare):
    return int(fare)>0

class truck(cab):
  def __init__(self,driver,nokms,tyers):
    super().__init__(driver,nokms)
    self.tyers=tyers

  def billvalidation(fare):
    return int(fare)>0


firstcab=cab("Ramesh",80,['delhi','noida'],2200,3)
secondcab=cab("Raman",40,['gurgaon','chndigad'],2500,3)
thirdcab=cab("Raghav",70,['mumbai','jaipur'],3000,5)
fourthcab=cab("Rembo",50,['Delhi','jaipur'],3300,5)

print(firstcab.driver)
print(secondcab.places)
print(thirdcab.nokms)
print("firstcab obj",firstcab.noofcabs())

print("no of cabs",cab.noofcabs())
print("no of passengers",cab.avgnoofpassengers())
print(cab.billvalidation(1))

firsttruck=truck("Rembo",20,6)
print(firsttruck.tyers)
print(truck.billvalidation(9))

Ramesh
['gurgaon', 'chndigad']
70
firstcab obj 4
no of cabs 4
no of passengers 4
True
6
True

In [ ]:
#Method overloading
#__str__ readable representation of object
class message:
  def __init__(self,msg=None):
    self.msg=msg
  def details(self,msg=None):
    if msg is not None:
      print("My message to the world is",msg)
    else:
      print("No mssage")
  def __str__(self):
    return "This object is of " + str(self.msg)

x=message("sadda haq")
print(x)
x.details()
x.details("sadda haq")
x1=message("etthe rakh")
print(x1)
x1.details("leke pehla pehla pyaar")

This object is of sadda haq
No mssage
My message to the world is sadda haq
This object is of etthe rakh
My message to the world is leke pehla pehla pyaar

In [ ]:
#getters and setters

class vehicle:
  def __init__(self,fname,lname):
    print("inside init")
    self.fname=fname
    self.lname=lname
    #self.email=self.fname+'.'+self.lname+'@uber.com'

  @property
  def email(self):
    print("inside property")
    return self.fname + '.' + self.lname + '@uber.com'

  @email.setter
  def email(self,address):
    print("inside email")
    first=address[:address.find('.')]
    last=address[address.find('.')+1:address.find('@')]
    self.fname=first
    self.lname=last

veh1=vehicle("tarkesh","pujari")

print(veh1.fname)
print(veh1.lname)
veh1.fname='tom'
veh1.lname='cruse'
print(veh1.email)
print(veh1.fname,veh1.lname)
veh1.email='lucky.420@uber.com'
print(veh1.fname,veh1.lname)

inside init
tarkesh
pujari
inside property
tom.cruse@uber.com
tom cruse
inside email
lucky 420

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print("*",end=" ")
  print('**',end=" ")
  for k in range(i):
    print("*",end=" ")
  print('\n')
for i in range((n-1),0,-1):
  for j in range(i):
    print("*",end=" ")
  print('\n')

**

* ** *

* * ** * *

* * * ** * * *

* * * * ** * * * *

* * * *

* * *

* *

*

In [ ]:
#'''In the example below, we are creating donation class with amount attribute. Amount must lie between 10 and 1,000,000.
#If user enters less than 10, it should be set as 10. Similarly, if user tries to enter a value greater than 1 million,
# it should be capped to 1 million only.'''
class donation:
  def __init__(self,amount):
    print("inside init")
    self.amount = amount
    print("inside init",self.amount)


  @property
  def amount(self):
    print("inside property")
    return self.__amount

  @amount.setter
  def amount(self,amount):
    print("inside setter")
    if amount<10:
      self.__amount=10
      print(self.__amount)
    elif amount>1000:
      self.__amount=1000
    else:
      self.__amount=amount

charity=donation(5)
print(charity.amount)

inside init
inside setter
10
inside property
inside init 10
inside property
10

In [ ]:
class Rectangle:
  def __init__(self,length,width):
    self.length=length
    self.width=width

  def area_of_rectangle(self):
    return self.__length*self.__width

  def perimeter_of_rectangle(self):
    return 2*(self.__width+self.__length)

  @property
  def length(self,length):
    return self.__length

  @property
  def width(self,width):
    return self.__width

  @length.setter
  def length(self,length):
    if length<=1:
      self.__length=2
    else:
      self.__length=length

  @width.setter
  def width(self,width):
    if width <=1:
      self.__width=2
    else:
      self.__width=width


area=Rectangle(0,0)
print(area.area_of_rectangle())

4

In [ ]:
n=5
s="* "
ds="** "
for i in range(n*2):
  if i == 0:
    print(ds)
  elif i < n:
    print(s*i+ds+s*i)
  else:
    print(s*((n*2)-(i+1)))

**
* ** *
* * ** * *
* * * ** * * *
* * * * ** * * * *
* * * *
* * *
* *
*

In [ ]:
#decorators

def dividebyzero(func):
  def inner(a,b):
    if b==0:
      return ("value of b must be positive")
    else:
      return func(a,b)
  return inner

@dividebyzero
def div(a,b):
  return a/b

print(div(4,2))
#div()

2.0

In [ ]:
#chaining decorators
def star(func):
  def inner(msg):
    print('*'*15)
    func(msg)
    print('*'*15)
  return inner


def percentage(func):
  def inner(msg):
    print('%'*15)
    func(msg)
    print('%'*15)
  return inner

@star
@percentage
def printer(msg):
  print(msg)

@star
def sqr(a):
  print( a**2)
#printer("Tarkesh")

sqr(2)

***************
4
***************

In [ ]:
import re
pattern='ab?y'
test_string='ababyyss1234'
#result=re.match(pattern,test_string)
#print(result)
print(re.findall(pattern,test_string))

['aby']

In [ ]:
x,y=2,3
print(x,y)
y,x=x,y
print(x,y)

2 3
3 2

In [ ]:
#solving quadratic equation
import cmath
a=1
b=5
c=6

d=(b**2)-(4*a*c)
n=2*a

x1=(-b+cmath.sqrt(d))/n
x2=(-b-cmath.sqrt(d))/n

print(x1,x2)

(-2+0j) (-3+0j)

In [ ]:
#area of triangle
a=5
b=6
c=7
s=(a+b+c)/2
area=cmath.sqrt(s*(s-a)*(s-b)*(s-c))
print('The area of the triangle is %0.2f' % area.real)

The area of the triangle is 14.70

In [ ]:
#generating random number in range 0-10
import random
print(random.randint(0,10))

7

In [ ]:
#convert miles to km
miles=float(input("Enter miles"))
conv_fac=0.621371
km=miles/conv_fac

print('%0.2f miles is eqaul to kms %0.2f' %(miles,km))

Enter miles2
2.00 miles is eqaul to kms 3.22

In [ ]:
 #prime number
 n=4
 flag=0
 for i in range(2,n):
  if n%i==0:
    print("not prime number")
    #flag=1
    break
 else:
  print("prime number")

# if flag :
#   print(n,"number is not prime")
# else:
#   print(n,"number is prime number")

not prime number

In [ ]:
#FIBONACI SERIES   ....0,1,1,2,3,5,8...

n=7
prev=0
next=1
counter=1
print(0,end=",")
while counter < n:
  prev,next=next,prev+next
  counter+=1
  print(prev,end=",")

0,1,1,2,3,5,8,

In [ ]:
#armstrong number
n=153
mainv=n
res=153
counter=0
while res>0:
  res=res//10
  counter+=1
print(counter)
sum=0
while n>0:
  rem=n%10
  n=n//10
  print(rem,n)
  sum=sum+(rem**counter)

if sum==mainv:
  print('%5i is armstrong number' %mainv ,'because its sum is %5i' %sum)

3
3 15
5 1
1 0
  153 is armstrong number because its sum is   153

In [ ]:
n=16
res=0
for i in range(n+1):
  res=i+res

print(res)

136

In [ ]:
#anonymous function

sqr= lambda x:x**2
print(list(map(sqr,range(10))))

print(list(filter(lambda x: (x%13==0),range(40))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#finding HCF
x1=12
x2=24

if x1<x2:
  for i in range(x1,1,-1):
    if x1%i==0 and x2%i ==0:
      print(i,"is hcf of x1 and x2")
      break

12 is hcf of x1 and x2

In [ ]:
#finding LCM

x1=12
x2=14
if x1<x2:
  lcm=0
  gt=x2
  while lcm<=0:
    if gt%x1==0 and gt%x2 ==0:
      print(gt,"is LCM of x1 and x2")
      lcm=gt
      break
    else:
      gt+=1

84 is LCM of x1 and x2

In [ ]:
#factors of any number
n=320
for i in range(1,n+1):
  if n%i==0:
    print(f'{i} is factor of {n}')

1 is factor of 320
2 is factor of 320
4 is factor of 320
5 is factor of 320
8 is factor of 320
10 is factor of 320
16 is factor of 320
20 is factor of 320
32 is factor of 320
40 is factor of 320
64 is factor of 320
80 is factor of 320
160 is factor of 320
320 is factor of 320

In [ ]:
#shuffling cards
import itertools, random
deck = list(itertools.product(range(1,14),['Spade','Heart','Diamond','Club']))
print(deck)

random.shuffle(deck)
print(deck)

for i in range(1,5):
  num=random.randint(1,52)
  print(deck[num][0],"of",deck[num][1])

[(1, 'Spade'), (1, 'Heart'), (1, 'Diamond'), (1, 'Club'), (2, 'Spade'), (2, 'Heart'), (2, 'Diamond'), (2, 'Club'), (3, 'Spade'), (3, 'Heart'), (3, 'Diamond'), (3, 'Club'), (4, 'Spade'), (4, 'Heart'), (4, 'Diamond'), (4, 'Club'), (5, 'Spade'), (5, 'Heart'), (5, 'Diamond'), (5, 'Club'), (6, 'Spade'), (6, 'Heart'), (6, 'Diamond'), (6, 'Club'), (7, 'Spade'), (7, 'Heart'), (7, 'Diamond'), (7, 'Club'), (8, 'Spade'), (8, 'Heart'), (8, 'Diamond'), (8, 'Club'), (9, 'Spade'), (9, 'Heart'), (9, 'Diamond'), (9, 'Club'), (10, 'Spade'), (10, 'Heart'), (10, 'Diamond'), (10, 'Club'), (11, 'Spade'), (11, 'Heart'), (11, 'Diamond'), (11, 'Club'), (12, 'Spade'), (12, 'Heart'), (12, 'Diamond'), (12, 'Club'), (13, 'Spade'), (13, 'Heart'), (13, 'Diamond'), (13, 'Club')]
[(6, 'Heart'), (12, 'Heart'), (6, 'Spade'), (3, 'Diamond'), (2, 'Diamond'), (11, 'Diamond'), (10, 'Heart'), (1, 'Spade'), (4, 'Diamond'), (10, 'Spade'), (5, 'Club'), (10, 'Diamond'), (4, 'Heart'), (9, 'Club'), (13, 'Diamond'), (12, 'Club'), (3, 'Spade'), (4, 'Spade'), (7, 'Diamond'), (3, 'Heart'), (7, 'Spade'), (11, 'Spade'), (5, 'Spade'), (6, 'Club'), (13, 'Club'), (9, 'Spade'), (13, 'Spade'), (10, 'Club'), (8, 'Club'), (6, 'Diamond'), (8, 'Spade'), (1, 'Diamond'), (5, 'Diamond'), (9, 'Heart'), (12, 'Spade'), (2, 'Club'), (3, 'Club'), (8, 'Heart'), (11, 'Club'), (4, 'Club'), (7, 'Heart'), (12, 'Diamond'), (2, 'Spade'), (7, 'Club'), (1, 'Heart'), (8, 'Diamond'), (2, 'Heart'), (13, 'Heart'), (11, 'Heart'), (9, 'Diamond'), (1, 'Club'), (5, 'Heart')]
4 of Heart
8 of Diamond
12 of Spade
3 of Diamond

In [ ]:
#fibonnaci series using recurssion  o/p:0,1,1,2,3,5,8,13......

def fib(n):
  if n<=1:
    return n
  else:
    #print("fib(n-1)",fib(n-1))
    #print("fib(n-2)",fib(n-2))
    return (fib(n-1) + fib(n-2))

for i in range(8):
  print(fib(i))

0
1
1
2
3
5
8
13

In [ ]:
#find sum of natural number using recurssion
n=10

def sum(n):
  if n==1:
    return n
  else:
    return n+sum(n-1)

print(sum(n))

55

In [ ]:
#find factorail number using recurssion

n=4
def fac(n):
  if n==1:
    return n
  else:
    return n*fac(n-1)

print(fac(n))

24

In [ ]:
# Program to add two matrices using nested loop

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result=[[X[i][j]+Y[i][j] for j in range(len(X[0]))] for i in range(len(X))]

for r in result:
   print(r)
# sum=[]
# for i in range(len(X)):
#   tsum=[]
#   for j in range(len(X[i])):
#     tsum.append(X[i][j]+Y[i][j])
#   sum.append(tsum)
# print(sum)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
#transpose matrix
X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

result=[[X[i][j] for i in range(len(X))] for j in range(len(X[0]))]

# for j in range(len(X[0])):
#   for i in range(len(X)):
#     result[j][i]=X[i][j]

for r in result:
  print(r)

[12, 4, 3]
[7, 5, 8]

In [ ]:
# Program to check if a string is palindrome or not
my_str = 'taat'
my_str = my_str.casefold()  #to make it lowercase
my_str_new=list(reversed(my_str))
if my_str_new==list(my_str):
  print("its palindrom")
else:
  print("not palindrom")

not palindrom

In [ ]:
# program remove punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str = "Hello!!!, he said ---and went."

result=[]

for i in my_str:
  if i not in punctuations:
    result.append(i)

result=''.join(result)
print(result)

Hello he said and went

In [ ]:
# Program to sort alphabetically the words form a string provided by the user
my_str = "Hello this Is an Example With cased letters"
my_str=my_str.casefold()

list_of_words=my_str.split(' ')
print(list_of_words)
list_of_words.sort()
print(list_of_words)

['hello', 'this', 'is', 'an', 'example', 'with', 'cased', 'letters']
['an', 'cased', 'example', 'hello', 'is', 'letters', 'this', 'with']

In [ ]:
# Program to perform different set operations like in mathematics

# define three sets
E = {0, 2, 4, 6, 8};
N = {1, 2, 3, 4, 5};

print("union of E and N is :" ,E|N)
print("intersection of E and N is :" ,E&N)
print("diffrence of E and N is :" ,E-N)
print("diffrence of E and N is :" ,N-E)
print("symetric diffrence of E and N is :" ,N^E)

union of E and N is : {0, 1, 2, 3, 4, 5, 6, 8}
intersection of E and N is : {2, 4}
diffrence of E and N is : {0, 8, 6}
diffrence of E and N is : {1, 3, 5}
symetric diffrence of E and N is : {0, 1, 3, 5, 6, 8}

In [ ]:
# Program to count the number of each vowels

str_vowels='aeiou'
ip_str = 'Hello, have you tried our tutorial section yet?'
ip_str=ip_str.casefold()
for i in str_vowels:
  counter=0
  for j in ip_str.split(' '):
    if i in j:
      counter+=1
  print(f'{i} is {counter} number of times')

a is 2 number of times
e is 5 number of times
i is 3 number of times
o is 5 number of times
u is 3 number of times

In [ ]:
dict={j:{i:i**2 for i in range(1,3)} for j in range(1,3)}
print(dict)

{1: {1: 1, 2: 4}, 2: {1: 1, 2: 4}}

In [ ]:
#Python Program to Flatten a Nested List
my_list = [[1], [2, 3], [4, 5, 6, 7]]
flattened_list=[]
for i in my_list:
  flattened_list.extend(i)
print(flattened_list)
#OR
flattened_list=[j for i in my_list for j in i]
print(flattened_list)
#OR
import itertools
print(list(itertools.chain(*my_list)))

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#sort dict by value

dt = {5:4, 1:6, 6:3}
dt=sorted(dt.items())
dt={i:j for i,j in dt}
print(dt)

{1: 6, 5: 4, 6: 3}

In [ ]:
l1=[1,2]
l2=[]

if not l1:
  print("its empty")

In [ ]:
#practice paramiko script
import paramiko

host="localhost"
username="tarkesh"
password="tarkesh@123"
command=["ls","df -h"]

client=paramiko.client.SSHClient()
client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
client.connect(host,username=username,password=password)
_stdin,_stdout,_stderr=client.exec_command("ls")
print(_stdout.read().decode('utf-8'))
client.close()

ModuleNotFoundError: ignored

In [ ]:
class InterviewbitEmployee:

    # protected members
    _emp_name = None
    _age = None

    # private members
    __branch = None

    # constructor
    def __init__(self, emp_name, age, branch):
         self._emp_name = emp_name
         self._age = age
         self.__branch = branch

    #public member
    def display(self):
        print(self._emp_name +" "+self._age+" "+self.__branch)

obj1=InterviewbitEmployee('Tarkesh','29','Mumbai')
obj1.display()
obj1._emp_name
obj1._age
#obj1.__branch this will give error  no attribute '__branch'

Tarkesh 29 Mumbai

'29'

In [ ]:
sum=0
n=1
arr={40,20,50,30,10}
for i in arr:
    print(i)
    sum=(sum+i)
    res=sum/n
    print(f'{res}')
    n+=1

In [ ]:
n=3
for i in range(n,0,-1):
  for j in range(n,0,-1):
    for k in range(i):
      print(j,end=" ")
  print("$",end="")

In [ ]:
def printPat(N):
    word=str()
    for i in range(N,0,-1):
        for x in range(N,0,-1):
            y=str(x)
            word+=((y+' ')*i)
        word+="$"
    print(word)

In [ ]:
word=str()
word="tarkesh"+' '
word+="pujari"
print(word)

In [ ]:
n=3
word=str()
for i in range(n,0,-1):
  for j in range(n,0,-1):
      y=str(j)
      word+=((y+' ')*i)
  word+="$"
print(word)

In [ ]:
def factorial(n):
  if (n==0 or n==1):
    return 1
  else:
    print(n)
    return n * factorial(n-1)

print(factorial(5))

In [ ]:
#fibonacci   #0 1 1 2 3 5 8 13....
fv=0
sv=1
# print(fv)
# print(sv)
# for i in range(5):
#   fv,sv=sv,fv+sv
#   print(sv)
n=7
def fib(n):
  if n<=1:
    return n
  else:
    return fib(n-1)+fib(n-2)
for i in range(n):
  print(fib(i))

In [ ]:
#find min number form list O(n)
class Solution:
    def findMinUtil(self, arr, low, high):
        # Handle the case where the array is not rotated
        if arr[low] < arr[high]:
            return arr[low]

        # Handle the case where the array is rotated by only one element
        if high == low + 1 and arr[low] > arr[high]:
            return arr[high]

        mid = low + (high - low) // 2

        # Check if the mid element is the minimum element
        if mid > low and arr[mid] < arr[mid - 1]:
            return arr[mid]

        if mid < high and arr[mid] > arr[mid + 1]:
            return arr[mid + 1]

        if arr[high] > arr[mid]:
            return self.findMinUtil(arr, low, mid - 1)

        return self.findMinUtil(arr, mid + 1, high)

    def findMin(self, arr, n):
        return self.findMinUtil(arr, 0, n - 1)

In [ ]:
N=22074
org_N=N
counter=0
while N>0:
    div=N%10
    if div!=0:
      if org_N%div==0:
        counter+=1
    N=N//10
print(counter)

2

In [ ]:
class Solution:
    def evenlyDivides (self, N):
        temp = N
        count = 0
        while (temp != 0):
            # extract the last digit
            d = temp % 10;
            temp = temp//10;
            # check if d divides N evenly
            if d > 0 and N%d == 0:
              count+=1;

        return count;

1
2207

In [ ]:
#palindrome
num=12121
li_num=str(num)
n=len(str(num))
print(n//2)
mid=n//2

print(li_num[:mid],li_num[mid:])
o_l=li_num[mid+1:]
o_l=o_l[::-1]

if li_num[:mid]==o_l:
  print(li_num[:mid],o_l)

2
12 121
12 12

In [ ]:
n=5
arr=[111,222,332,444,555]
for i in arr:
  if str(i)!=str(i)[::-1]:
    print(0)
    break
print(1)

0
1

In [ ]:
name=123
name=str(name)
list_of_number=[2,3,4,5,6,7,8,9]
for i in list_of_number:
    if str(i) in name:
      print("yes")
    else:
      print("no")

yes
yes
no
no
no
no
no
no

In [ ]:
class Solution:
    def longest(self, names, n):
    	# code here
    	max_log=0
    	for i in range(len(names)):
    	    if len(names[i]) > len(names[max_log]):
    	        max_log=i
    	return (names[max_log])

ABCddE

In [ ]:
d1={"a":"1","b":"2"}
print(list(d1.values()))

['1', '2']

In [ ]:
l1=[1,2,3,4]
dict1={x:x**2 for x in l1 }
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
N = 5
names = [ "Geek", "Geeks", "Geeksfor",
  "GeeksforGeek", "GeeksforGeeks" ]
dict1=[]

dict1={ x:len(x) for x in names }

list_of_val=list(dict1.values())
list_of_val.sort()

for ind,val in dict1.items():
  if val==list_of_val[-1]:
      print(ind)

GeeksforGeeks

In [ ]:
l1=[1,2,1]
if l1[::-1]==l1:
  print("yes")

yes

In [ ]:
N=5
def printTillN(N):
  #code here
  if N<=1:
      print(1)
  else:
    printTillN(N-1)
    print(N)
# for i in range(N):
printTillN(N)

1
2
3
4
5

In [ ]:
N=9
for i in range(N+1):
    print(N*(i+1),end=" ")

9 18 27 36 45 54 63 72 81 90

In [ ]:
arr=[1,2,3,2,1]
# for i in arr:
arr.count(3)

l2="".join(map(str,arr))
l2=int(l2)
print(type(l2))

<class 'int'>

In [ ]:
a=[1,2,3,2,1]
print(a[:3])
print(a[3:])

[1, 2, 3]
[2, 1]

In [ ]:
def reverse_string(input_str):
    reversed_str = ''
    for char in input_str:
        reversed_str =  char + reversed_str
    return reversed_str

original_str = "Hello, World!"
reversed_str = reverse_string(original_str)

print(reversed_str)

!dlroW ,olleH

In [ ]:
s="practice"
vow=[]
for i in s:
  if i in "aeiou":
      vow.append(i)
vow=vow[::-1]
print(vow)
s=list(s)
for i in range(len(s)):
  if s[i] in "aeiou":
    print(s[i])
    s[i]=vow[0]
    vow.pop(0)
print("".join(s))

['e', 'i', 'a']
a
i
e
prectica

In [ ]:
def fact(N):
  if N<=1:
      return 1
  return N*fact(N-1)
def nPr( n, r):
  # code here
  num=fact(n)
  print(n)
  #r=int(n)-int(r)
  den=fact(n-r)
  return num/den

nPr(3,3)

3

6.0

In [ ]:
N=6
dict1={"1":"6","5":"2","4":"3"}
if N in list(map(int,dict1.keys())):
  print("in if")
  print(dict1.get(str(N)))
else:
  for key,val in dict1.items():
      if int(val)==N:
        print(str(key))

1

In [ ]:
Grid=[[1,0,1,0,1],
[0,1,0,1,0],
[-1,-1,-1,-1,-1]]

l1=[j for i in Grid for j in i]
sum=0
for i in l1:
  sum+=i
print(l1)

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0, -1, -1, -1, -1, -1]

In [ ]:
n=2
A= [[7, 8], [2 , 9]]
B = [[14, 5], [5, 18]]
c=[[0,0],[0,0]]

for i in range(n):
  for j in range(n):
      for k in range(n):
          c[i][j] += (A[i][k]*B[k][j])

print(c)

[[138, 179], [73, 172]]

In [ ]:
bin=''
n=2
while n>=2:
    r=n%2
    print(r)
    bin+=str(r)
    n=n//2
    print(n)

bin+=str(n)
for i in range((30-len(bin))):
    bin+=str(0)
print(bin[::-1])

0
1
000000000000000000000000000010

In [ ]:
K=2
N=5
arr=[1,2,3,4,5]
r=N%K
for i in range(K,N+1,K):
  arr[i-K:i] = arr[i-K:i][::-1]
arr[-r:]=arr[-r:][::-1]
print(arr)

[2, 1, 4, 3, 5]

In [ ]:
k=2
for i in range(k,10,2):
  print(i)

2
4
6
8

In [ ]:
i=0
while(i<N):
  if (i+K<N):
      arr[i:i+K]=reversed(arr[i:i+K])
      i+=K
  else:
      arr[i:]=reversed(arr[i:])
      i+=K

In [ ]:
a=[1, 2, 3, 4, 5]
b=[1, 2, 3]


print(len(set(a).union(set(b))))

5

In [ ]:
n=3
for i in range(n):

  if 2**i==n:
    print("YES")
    break
  if 2**i > n:
    print("NO")
    break

NO

In [ ]:
arr=[1,2,3,4,5]
n=5
na=[]
for i in range(n-1,(n-1+n)):
  na.append(arr[i%n])
arr=na
print(arr)

[5, 1, 2, 3, 4]

In [ ]:
n=6
a=[12, 5 ,2 ,10, 8, 15]
larg=0
small=999999999
for i in range(n):
  large=max(a[i],large)
  small=min(a[i],small)

print(large,small)

10000 2

In [ ]:
N = 10
A=[1, 2, 33, 4, 5, 6, 7, 8, 9, 10]
B=[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]
if len(A)!=len(B):
  print("False")
for i in range(N):
  se=A[i]
  print(se)
  ac=A.count(se)
  bc=B.count(se)
  if ac!=bc:
    print("false")
    break
  else:
    print("True")

1
True
2
True
33
false

In [ ]:
l1=[1,2,3,4,5]
print(l1[2:])

[3, 4, 5]

In [ ]:
arr=[1,2,3,4,5,6,7,8]
n=8
stind=0
enind=n-1
k=8

while stind<=enind:
  midind=(stind+enind)//2
  print(midind)
  if arr[midind]==k:
    print("value found")
    break
  if arr[midind]>k:
    enind=midind-1

  if arr[midind]<k:
    stind=midind+1

print(-1)

3
5
6
7
value found
-1

In [ ]:
s="tarkesh"
rev=""
for i in range(len(s)-1,-1,-1):
  print(s[i])
  rev+=s[i]
print(rev)

h
s
e
k
r
a
t
hsekrat

In [ ]:
n = 5
A = [1, 8, 7, 56, 90]
me=0
for i in A:
  if me<i:
    me=i
print(me)

90

In [ ]:
A = [1, 8, 7, 56, 90]
A.sort()

sum=0
for i in range(n):
  sum+=(A[i]*i)
print(sum)

551

In [ ]:
N=5
for i in range(2,N):
  print(i)

2
3
4

In [ ]:
class Solution:
    def isPrime (self, N):
        # code here
        if N==1:
            return 0
        for i in range(2,N):
            if N%i==0:
                return 0
        return 1

obj1=Solution()
obj1.isPrime(53)

1

In [ ]:
#Linked List
class Node:
  def __init__(self,data):
    self.data=data
    self.next=None

class LL:
  def __init__(self):
    self.head=None

  def print_Nodes(self):
    sn=self.head
    while sn.next is not None:
      print(sn.data)
      sn=sn.next
    print(sn.data)

  def AddNodeBig(self,data):
    new_node=Node(data)
    self.head,new_node.next=new_node,self.head

  def AddNodeEnd(self,data):
    new_node=Node(data)
    if self.head is None:
      self.head=new_node
      return
    else:
      sn=self.head
      while sn.next is not None:
        sn=sn.next
      sn.next=new_node


LinkedList=LL()
LinkedList.AddNodeBig(1)
LinkedList.AddNodeEnd(2)
LinkedList.AddNodeBig(3)
LinkedList.print_Nodes()

3
1
2

In [ ]:
class Solution:

    #Function to insert a node at the beginning of the linked list.
    def insertAtBegining(self,head,x):

        #storing the new node with data in a pointer.
        temp = Node(x)
        #if the linked list is null we just return the new node.
        if head is None:
            return temp

        #else we just add the list head to the link part(next) of new node.
        #the new node gets inserted at beginning and becomes the first node.
        temp.next = head

        #returning the linked list.
        return temp

    #Function to insert a node at the end of the linked list.
    def insertAtEnd(self,head,x):
        temp = Node(x)
        #if the linked list is null we just return the new node.
        if head is None:
            return temp

        ptr = head
        #we use a pointer to find the last node of list.
        while ptr.next:
            ptr=ptr.next;

        #we add the new node to the link part(next) of last node in the list.
        #the new node gets inserted at end and becomes the last node.
        ptr.next = temp;

        #returning the linked list.
        return head

In [ ]:
n=7
curn=1
nextn=1
fibl=[]
fibl.append(curn)
while n>0:
  #
  fibl.append(nextn)
  nextn,curn=curn+nextn,nextn
  n-=1

print(fibl)

[1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
N = 5
arr = [4, 2, 1, 5, 3]
for i in range(0,len(arr)-1):
  if arr[i]>arr[i+1]:
    arr[i]=arr[i+1]
  else:
    arr[i]=-1
arr[n-1]=-1
print(arr)

[2, 1, -1, 3, -1]

In [ ]:
N = 7
K = 2
A= [1, 7,7, 4, 3, 4, 8, 7]
cd={}
for i in A:
  if i not in cd.keys():
    cd[i]=1
  else:
    cd[i]+=1
  if cd[i]==K:
    print(i)
    break

# list_of_ele=[]
# for key,val in cd.items():
#     if val==K:
#       list_of_ele.append(key)
# print(list_of_ele)

7

In [ ]:
sc="tarkesh"
n=4
print(sc[n-3:n])

ark

In [ ]:
s = "GeeksForGeeks"
x = "For"
xc=0
for i in x:
  xc+=1
sc=0
for i in s:
  sc+=1
sc-=1
main_sc=sc
sc=0
print(main_sc,sc)
while sc<=main_sc:
  if s[sc]==x[0]:

    print("s[sc:xc])",s[sc:sc+xc],"x",x)
    if str(s[sc:xc])==str(x):
      print(sc)
      break
  sc+=1

print(-1)

12 0
s[sc:xc]) For x For
-1

In [ ]:
def preorderUtil(root, res):
    #preorder traversal works on Root Left Right.

    #if root is null then we simply return.
    if root is None:
        return

    #first, we store the data at root in a list.
    res.append (root.data)
    #then we call the recursive function for left subtree.
    preorderUtil(root.left, res)
    #then we call the recursive function for right subtree.
    preorderUtil(root.right, res)


#Function to return a list containing the preorder traversal of the tree.
def preorder (root):
    res = []
    preorderUtil (root, res)
    #returning the list.
    return res

In [ ]:
N=26

print(int(N**(1/2)))
print(int(N**(1/2))**2)

5
25

In [ ]:
#stack

class stack:
  def __init__(self):
    self.stacklist=list()

  def add_into_stack(self,data):
    self.stacklist.insert(0,data)

  def remove_from_stack(self):
    if self.stacklist:
      popped_item=self.stacklist.pop(0)
      return popped_item
    else:
      raise Exception("stack is empyt")

  def print_stack(self):
    print(self.stacklist)


stk1=stack()
stk1.add_into_stack(1)
stk1.add_into_stack(2)
stk1.add_into_stack(3)
stk1.add_into_stack(4)
stk1.print_stack()
print("pooped item: ",stk1.remove_from_stack())
print("pooped item: ",stk1.remove_from_stack())
stk1.add_into_stack(5)
stk1.print_stack()
print("pooped item: ",stk1.remove_from_stack())
print("pooped item: ",stk1.remove_from_stack())
print("pooped item: ",stk1.remove_from_stack())
print("pooped item: ",stk1.remove_from_stack())

[4, 3, 2, 1]
pooped item:  4
pooped item:  3
[5, 2, 1]
pooped item:  5
pooped item:  2
pooped item:  1

Exception: ignored

In [ ]:
class queue:
  def __init__(self):
    self.queue_list=list()
  def add_into_queue(self,data):
    self.queue_list.append(data)
  def remove_from_queue(self):
    if self.queue_list:
      self.queue_list.pop(0)
    else:
      raise Exception("queue is empty")
  def print_queue(self):
    return self.queue_list

que1=queue()
que1.add_into_queue(1)
que1.add_into_queue(2)
que1.add_into_queue(3)
que1.add_into_queue(4)
print(que1.print_queue())
que1.remove_from_queue()
print(que1.print_queue())
que1.add_into_queue(5)
print(que1.print_queue())
que1.remove_from_queue()
que1.remove_from_queue()
que1.remove_from_queue()
que1.remove_from_queue()
print(que1.print_queue())
que1.remove_from_queue()

[1, 2, 3, 4]
[2, 3, 4]
[2, 3, 4, 5]
[]

Exception: ignored

In [ ]:
combo=(('a24', 'a21'),)
print(len(combo))
for i in combo:
  print(i)

1
('a24', 'a21')

In [ ]:
original_tuple = (("a1", "a2"))

# Add a comma to each inner tuple
modified_tuple = tuple((x,) for x in original_tuple)

print(modified_tuple)

(('a1',), ('a2',))

In [ ]:
comb1=[(("a1","a2"),("a3","a4")),(("a5","a6"),("a11","a12"))]
comb2={("a7","a8"),("a9","a10")}
comb3=[comb1,comb2]
comb1=[list(j) for i in comb1 for j in i  ]
print(comb1)
for i in comb3:
  for j in i:
    print(len(list(j)))

[['a1', 'a2'], ['a3', 'a4'], ['a5', 'a6'], ['a11', 'a12']]
2
2
2
2

In [ ]:
sl1=set([1,2,3,4])
sl2=set([3,4,5,6])

print(sl1-sl2)

{1, 2}

In [ ]:
#arr = [4, 3, 7, 8, 6, 2, 1]
arr=[1, 4, 3, 2]
for i in range(0,len(arr)):
  if i%2==0:
    if arr[i]>arr[(i+1)%len(arr)]:
        arr[i],arr[(i+1)]=arr[(i+1)],arr[i]
  else:
      if arr[i]<arr[(i+1)%len(arr)]:
          arr[i],arr[(i+1)]=arr[(i+1)],arr[i]

print(arr)

[1, 4, 2, 3]

In [ ]:
s1="mightandmagic"
s2="andmagicmight"
matched=[]
j=0
for i in range(j,len(s1)+j):
  word=s1[j:]+s1[:(j%len(s1))]
  j+=1
  if word==s2:
    print("found")
    break
print("not found")

found
not found

In [ ]:
s1="mightandmagic"
s2="andmagicmight"
s=s1+s1
if (len(s1)==len(s2) and s2 in s):
  print("found")

found

In [ ]:
n=3
for j in range(n+1,1,-1):
    for i in range(j):
      print("i",i,"j",j)

i 0 j 4
i 1 j 4
i 2 j 4
i 3 j 4
i 0 j 3
i 1 j 3
i 2 j 3
i 0 j 2
i 1 j 2

In [ ]:
#merge sort
def mergesort(arr):
  n=len(arr)
  if n>1:
    mid=n//2
    L=arr[:mid]
    R=arr[mid:]

    mergesort(L)
    mergesort(R)
    i=j=k=0
    while (i<len(L) and j <len(R)):
      if L[i]<R[j]:
        arr[k]=L[i]
        i+=1
      else:
        arr[k]=R[j]
        j+=1
      k+=1
    while i < len(L):
      arr[k]=L[i]
      i+=1
      k+=1

    while j < len(R):
      arr[k]=R[j]
      j+=1
      k+=1

if __name__=="__main__":
  arr=[2,6,4,3,8,1,7,5]
  mergesort(arr)
  print(arr)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#bubble sort
a=[1, 0, 1, 1, 0]

for i in range(len(a),0,-1):
  for j in range(i-1):
    if a[j]>a[j+1]:
      a[j],a[j+1]=a[j+1],a[j]

print(a)

In [ ]:
string1 = "computer"
string2 = "cat"

st1=set(string1)
st2=set(string2)

print(st1-st2)
st3=st1-st2
st3="".join(st3)
print(st3)

{'r', 'p', 'e', 'm', 'u', 'o'}
rpemuo

In [ ]:
string1 = "computer"
string2 = "cat"
st3=[]
for i in string1:
  if i not in string2:
    st3.append(i)
st3="".join(st3)
print(st3)

ompuer

In [ ]:
class Solution:
    def getgcd(self,A,B):
        val=max(A,B)
        while val>0:
            if (A%val==0 and B%val==0):
                return val
            val-=1
        return -1

    def getlcm(self,A,B):
        val=max(A,B)
        while val>0:
            if (val%A==0 and val%B==0):
                return val
            val+=1
        return -1
    def lcmAndGcd(self, A , B):
        # code here
        gcd=self.getgcd(A,B)
        lcm=self.getlcm(A,B)
        return lcm,gcd

In [ ]:
# Python3 program to demonstrate linked list
# based implementation of queue

# A linked list (LL) node
# to store a queue entry
class Node:

    def __init__(self, data):
        self.data = data
        self.next = None


class MyQueue:

    def __init__(self):
        self.front = self.rear = None

    def isEmpty(self):
        return self.front == None

    #Function to push an element into the queue.
    def push(self, item):
        temp = Node(item)

        #if queue is empty, then new node is front and rear both.
        if self.rear == None:
            self.front = self.rear = temp
            return

        #adding the new node at the end of queue and changing rear.
        self.rear.next = temp
        self.rear = temp

    #Function to pop front element from the queue.
    def pop(self):

        #if queue is empty, we return -1.
        if self.isEmpty():
            return -1

        #we delete front and update front as new temp(temp.next).
        temp = self.front
        self.front = temp.next

        #if front is NULL, we also make rear as NULL.
        if(self.front == None):
            self.rear = None

        #returning the popped element.
        return str(temp.data)

456.25

In [ ]:
#Back-end complete function Template for Python 3

#Function to insert a node in the middle of the linked list.
def insertInMid(head,new_node):

    #we take two pointers one of which moves to next node in each
	#iteration and the other moves two nodes in one iteration.
    slow = head
    fast = head.next

    #when fast will reach end, slow will be at the middle point.
    while fast and fast.next:
        slow = slow.next
        fast = fast.next.next

    #we store the next node after slow in link part of the new node.
    new_node.next = slow.next
    #we also store the new node in link part of the slow node.
    slow.next = new_node

In [ ]:
def binary(num):

  a_bin=""
  temp=num
  while temp>1:
    a_bin+=str(temp%2)
    temp=temp//2
  a_bin+=str(temp)
  return(a_bin[::-1])
a=10
b=20
c=a^b
a_bin=""
temp=c
while temp>1:
  a_bin+=str(temp%2)
  temp=temp//2
a_bin+=str(temp)
print(a_bin[::-1])

11110

In [ ]:
a=[1,2,4,5,6]
yi=2
fh=a[:yi]
fh.append(3)
sh=a[yi:]
a=fh+sh
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
8//2

4

In [ ]:
N=5
for i in range((N*2)-1,0,-2):
  print(i)

9
7
5
3
1

In [ ]:
s="output"
freq={i:s.count(i) for i in set(s)}
keys_list=list(freq.values())
print(max(keys_list))
max_val=max(keys_list)
res=[]
for key,val in freq.items():
  if val==max_val:
    res.append(key)
res.sort()

print(res[0])

2
t

In [ ]:
"""Find the quotient q when n is divided by m. And store q*m in a variable(say x).
Make another variable(say y) and if n*m is negative then store q*(n-1) in y otherwise store q*(n+1) in it.
Now if abs(y-n) > abs(x-n) print x as your answer otherwise print y as the answer."""

N=13
M=4
q=N/M
x=q*M
if N*M>0:
  y=M*(q-1)
else:
  y=M*(q+1)

if abs(y-N)>abs(N-x):
  print(x)
else:
  print(y)

12

In [ ]:
s="00001"

for i in range(len(s)):
  print(s[i])
  if s[i]=='1':
    c=i
if c==-1:
  print(c)
else:
  print(c)

0
0
0
0
1
4

In [ ]:
a=1
b=2
c=3
max_val=max(a,b,c)
if a==b and b==c:
  print(a)
if a==max_val:
  if b>c:
    print(b)
  else:
    print(c)

3

In [ ]:
#not common
A = "geeksforgeeks"
B = "geeksquiz"
res=list(set(A).symmetric_difference((set(B))))
print(res)
print("".join(sorted(res)))

['r', 'i', 'o', 'f', 'u', 'q', 'z']
fioqruz

In [ ]:
n=1004
str_n=list(str(n))
test="0"
for i in range(len(str_n)):
  if str_n[i]=="0":
    str_n[i]="5"
  else:
    test+=str_n[i]
print("".join(str_n))

0
0
1554

In [ ]:
S = "aabaa"
checked=[]
checked.append(S[0])
for i in range(len(S)):
  print(S[i])
  if S[i] not in checked[-1]:
    checked.append(S[i])

print("".join(checked[::-1]))

a
a
b
a
a
aba

In [ ]:
s="geeksforgeeks"
dict1={i:s.count(i) for i in s}
print(dict1)
for key,val in dict1.items():
  if val>1:
    print(key)
    break

{'g': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}
g

In [ ]:
S1 = "cddgk"
S2 = "gcd"
dicts1={i:S1.count(i) for i in S1}
dicts2={i:S2.count(i) for i in S2}
final=[]
res=0
for i,j in dicts1.items():
  if i in S2:
    res=dicts1[i]-dicts2[i]
    if res>0:
      final.append(i)
  else:
    final.append(i)


print(final)

['d', 'k']

In [ ]:
arr=[8,4,4,8,23]
total_ele=set(arr)
print(total_ele)
dict1={}
for i in total_ele:
  dict1[i]=arr.count(i)
print(dict1)
for k,v in dict1.items():
  if v%2!=0:
    print(k)

{8, 4, 23}
{8: 2, 4: 2, 23: 1}
23

In [ ]:
arr=[1,2,1]
n=3
xor = arr[0]
print(xor)
for i in range(1, n):
    xor ^= arr[i]
    print(xor,arr[i])

print(xor)

1
3 2
2 1
2

In [ ]:
n=13
# a=[5, 11, 1, 6, 6, 8, 11, 5, 12, 11, 6, 1, 7]
a=[1,1,1,1]
sml1=a[0]
sml2=99999999
sa=set(a)
for i in range(len(a)):
  if  a[i]<sml1:
    sml2=sml1
    sml1=a[i]
  if a[i]<sml2 and a[i]!=sml1:
    sml2=a[i]
if (n==1 or sml2==99999999):
  print("-1")
print(sml1,sml2)

-1
1 99999999

In [ ]:
arr=[5, 11, 1, 6, 6]
n=5
k=2
arr=arr[k:]+arr[:k]
print(arr)
# for i in range(k,(n+k)):
  # print(a[i%n])

[1, 6, 6, 5, 11]

In [ ]:
S =1101
strn=str(S)
print(strn.count("1"))
print((3*2)/2)

3
3.0

In [ ]:
s1 = "aacdb"
s2 = "gafd"
ss1=set(s1)
ss2=set(s2)
print(ss1.symmetric_difference(ss2))

{'c', 'b', 'f', 'g'}

In [ ]:
arr= [5, 9, 2, 6]
while len(arr)>1:
  if arr[0]>arr[-1]:
    arr.remove(arr[0])
    print(arr)
  else:
    arr.remove(arr[-1])
    print(arr)
print(arr)

[5, 9, 2]
[9, 2]
[2]
[2]

In [ ]:
a_bin=3
ra_bin=a_bin>>1
print(ra_bin)
print(a_bin&ra_bin)

1
1

In [ ]:
#binary to decimal
B = 10001000
n=len(str(B))
res=0
for i,j in enumerate(str(B)):
  pow=n-i-1
  res+=int(j)*2**pow
  print(int(j)*2**pow,n-i-1,j)
print(res)

128 7 1
0 6 0
0 5 0
0 4 0
8 3 1
0 2 0
0 1 0
0 0 0
136

In [ ]:
n=9
for i in range(1,n+1,):
  print(i*3)

3
9
15
21
27

In [ ]:
N=10
is_prime = [True] * (N + 1)
is_prime[0]=is_prime[1]=False

for i in range(2,int(N**0.5)+1):
  if is_prime[i]:
    for j in range(i*i,N+1,i):
      is_prime[j]=False

for i in range(2,N+1):
  if is_prime[i]:
    print(i,end=" ")

2 3 5 7

In [ ]:
s="geeks"
print(len(s))
print(len(set(s)))

5
4

In [ ]:
#getting angle between hour and minutes angle
H=9
M=55
afh=H*5*6
apm=6*M
apm_3=360-apm
print("afh",afh,"apm",apm)
print((360-afh)+apm)
print(abs(afh-apm))

afh 270 apm 330
420
60

In [ ]:
class Solution:
  def binsearch(self,arr,si,ei):
      while si<=ei:
        mid=(si+ei)//2
        # print(arr[mid])
        if arr[mid]==1 and arr[mid-1]==0:
            print(mid)

        if arr[mid]<1:
            si=mid+1
        else:
            ei=mid-1


  def firstIndex(self, arr, n):
  # Your code goes here
      self.binsearch(arr,0,n-1)
obj1=Solution()
arr=[0, 0, 0, 1, 1, 1, 1, 1, 1, 1]
n=10
obj1.firstIndex(arr=arr,n=n-1)

3

In [ ]:
1//2

0

In [ ]:
N=3
mat=[[1,5,3],[2,8,7],[4,6,9]]
l1=[j for i in mat for j in i]
l1.sort()
print(l1)
l2=[]
temp=[]
for i in range(0,len(l1)):
  temp.append(l1[i])
  if (i+1)%N==0:
    l2.append(temp)
    temp=[]

print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
arr = [1, 2, 3, 4,5]
n=len(arr)
print(sum(arr[:n//2])*sum(arr[n//2:]))

36

In [ ]:
l1=[2,1,3,5,9,8,1,2,7,3,9,8,7,3] # result1=[[2,1,3],[9,8],[1,2],[7],[3],[9,8,7],[3]]
# l2=[1,4,9,8,2,1,9,8,3,4] #result2=[[1],[4],[9,8],[2,1],[9,8],[3,4]]
l1
diff=4
main=[]
temp=[]
for i in range(0,len(l1)-1):
  if abs(l1[i]-l1[i+1])<=diff:
    temp.append(l1[i])
  if abs(l1[i]-l1[i+1])>diff and abs(l1[i]-l1[i-1])<=diff:
    temp.append(l1[i])
  if abs(l1[i]-l1[i+1])>diff and abs(l1[i]-l1[i-1])>diff:
    temp.append(l1[i])
  if abs(l1[i]-l1[i+1])>diff:
    main.append(temp)
    temp=[]
  if abs(l1[i]-l1[i+1])<=diff and int(i+1)==int(len(l1)-1):
    temp.append(l1[i+1])
    main.append(temp)
  if abs(l1[i]-l1[i+1])>diff and int(i+1)==int(len(l1)-1):
    temp.append(l1[i+1])
    main.append(temp)
print(main)

[[2, 1, 3, 5, 9, 8], [1, 2], [7, 3], [9, 8, 7, 3]]

In [ ]:
n=6
a=[1, 2, 1, 2, 1, 3]
print(abs(sum(a[:n//2])-sum(a[n//2:])))

2

In [ ]:
arr = [ 1, 3, 3, 4 ]
x=5
for i in range(len(arr)):
  if arr[i]==x:
    break

# print(i)
if i:
  print(i)
else:
  print("not foiund")
for j in range(len(arr[::-1])-1,-1,-1):
  if arr[j]==x:
    break
print(j)

3
0

In [ ]:
N = 6
arr = [16, 17, 4, 3, 5, 2]    #Output: 17 5 5 5 2 -1
maxv=0
for i in range(N-1,-1,-1):
  if arr[i]>maxv and i==N-1:
    maxv=arr[i]
    arr[i]=-1
  if arr[i]<maxv and i!=N-1:
    arr[i]=maxv
  if arr[i]>maxv and i!=N-1:
    maxv,arr[i]=arr[i],maxv
print(arr)

[17, 5, 5, 5, 2, -1]

In [ ]:
N = 7
arr = [1, 2, 3, 5, 4, 7, 10]  #Output:7 5 3 1 2 4 10
even=[]
odd=[]
for i in arr:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
even.sort()
odd.sort(reverse=True)
arr=odd+even
print(arr)

[7, 5, 3, 1, 2, 4, 10]

In [ ]:
arr = [10, 11, 1, 2, 3]
temp=[]
for i in range(len(arr)-1):
  temp.append(arr[i]|arr[i+1])
temp.append(arr[-1])
print(temp)

[11, 11, 3, 3, 3]

In [ ]:
N=10
ls=N<<2
print(ls)
print(N>>2)

40
2

In [ ]:
S = "abCD"
print(S[0].islower())

True

In [ ]:
A = [5, 7, 9, 3, 6, 2]
B= [1, 2, 6, -1, 0, 9]
print(max(A)*min(B))

-9

In [ ]:
arr = [1, 2, 3, 5, 6, 8, 9]
K = 4
dict1={i:abs(K-i) for i in arr}
diff_vals=list(dict1.values())
min_vl=min(diff_vals)
final_ans=[]
for i,j in dict1.items():
  if j==min_vl:
    final_ans.append(i)
print(max(final_ans))

5

Given an array of sorted integers. The task is to find the closest value to the given number in array. Array may contain duplicate values.

Note: If the difference is same for two values print the value which is greater than the given number.

Example 1:

Input : Arr[] = {1, 3, 6, 7} and K = 4
Output : 3
Explanation:
We have an array [1, 3, 6, 7] and target is 4.
If we look at the absolute difference of target
with every element of an array we will
get [ |1-4|, |3-4|, |6-4|, |7-4| ].
So, the closest number is 3.

Example 2:

Input : Arr[] = {1, 2, 3, 5, 6, 8, 9}, K = 4
Output : 5


Your Task:
This is a function problem. The input is already taken care of by the driver code. You only need to complete the function findClosest() that takes an array (arr), sizeOfArray (n), integer target and return the closest number of the target in an array. The driver code takes care of the printing.

In [ ]:
#use binary search

In [ ]:
S="tarkesh Pujari"
res=S.split(' ')
res_o=""
for i in res:
  res_o+=i[0]
print(res_o)

tP

In [ ]:
l1=[1,2,3,4]
l1.insert(1,5)
print(l1)

[1, 5, 2, 3, 4]

In [ ]:
arr=[8,1,2,4] #[1,8,2,4]
n=4
arr.sort()  #[1,2,4,8]
sum=0
for i in range(n//2):
  sum -= (2 * arr[i])
  sum += (2 * arr[n - i - 1])
print(sum)

18

In [ ]:
D=2
N=12
binl=[]
while N>0:
  r=N%2
  binl.append(r)
  N=N//2
binl.append(N)
for i in range(D):
  binl.append(0)
binl=binl[::-1]
# binr="".join(str(binl))
print(binl)

[0, 0, 0, 1, 1, 0, 0]

In [ ]:
N=28
D=2
print(D%16)

2

In [ ]:
N = 5
S = 12
a = [1,5,3,7,5]
sum=0
index=[]
sub_ind=0
for i in range(N):
  sum+=a[i]
  print(sum)
  if sum==12:
    index.append(i)
    break
  if sum>12:
    sum=sum-a[sub_ind]
    sub_ind+=1
    if sum==12:
      index.append(i)
      break
print(index)

1
6
9
16
20
[]

In [ ]:
S="geeksogeeks"
print(S[:1])
print(S[(len(S)//2)+1:])

g
geeks

In [ ]:
matrix = [[45, 48, 54],
             [21, 89, 87],
             [70, 78, 15]]
res=[]
for i in range(len(matrix)):
  print(i)
  if i%2==0:
    for j in matrix[i]:
      res.append(j)
  else:
    print(matrix[i])
    for j in range(len(matrix[i])-1,-1,-1):
      print(matrix[i][j])
      res.append(matrix[i][j])
print(res)

0
1
[21, 89, 87]
87
89
21
2
[45, 48, 54, 87, 89, 21, 70, 78, 15]

Input: 5

Output:
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
di1={i: i**2 for i in range(1,6)}
print(di1)
keylist=[]
for k,v in di1.items():
  keylist.append(k)
print(keylist)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
[1, 2, 3, 4, 5]

In [ ]:
# print(1^5)
ele=0
n=5
array=[1,2,3,4]
arxor=0
for i in range(1,n+1):
  ele^=i
print("ele",ele)
# print(1^2^3^4^5)

array.sort()
for i in range(len(array)):
  arxor^=array[i]
print("arxor",arxor)
print(ele^arxor)

ele 1
arxor 4
5

In [ ]:
array=[1,2,3,4]
n=len(array)
total=(n+1)*(n+2)/2
sum_val=sum(array)
print(int(total-sum_val))

5

In [ ]:
arr=[0, 2, 1, 2, 0]
di1={i:arr.count(i) for i in arr}
print(di1)
list_of_ele=[i for i,v in di1.items() if v>1]
print(list_of_ele)
list_of_ele.sort()

{0: 2, 2: 2, 1: 1}
[0, 2]

In [ ]:
arr=[0,5,1,2,0]
n=5
for i in range(n):
  index=arr[i]%n
  arr[index]+=n
print(arr)
flag=False
res = []
for i in range(0,n):
  if (arr[i]//n) > 1:
    res.append(i)
    flag=True
if flag==False:
  res.append(-1)
print(res)

[15, 10, 6, 2, 0]
[0, 1]

In [ ]:
A = [16,17,4,3,5,2]
N=6
max_list=[]
max_val=0
for i in range(N-1,-1,-1):
  max_val=max(A[i],max_val)

  max_list.append(max_val)
print(max_list)

IndexError: ignored

In [ ]:
A=[1,3,5,2,2]
N=5
ts=sum(A)
ps=0
for i in range(1,N):
  ps+=A[i-1]
  rs=ts-ps-A[i]
  if ps==rs:
    print(i)
    break

2

In [ ]:
x="{}{(}))}"
s1=[]
for i in x:
  print("i",i)
  if i=="{" or i=="(" or i=="[":
    s1.append(i)
    print("appended",s1)
  elif s1 and (i=="}" or i==")" or i=="]"):
    if i=="}" and s1[-1]=="{":
        s1.pop(-1)
    elif i==")" and s1[-1]=="(":
        s1.pop(-1)
    elif i=="]" and s1[-1]=="[":
        s1.pop(-1)
    print("popped",s1)
  else:
    print("unbalnced")
    break
if s1:
  print("unbalanced")
# print("Balanced")

i {
appended ['{']
i }
popped []
i {
appended ['{']
i (
appended ['{', '(']
i }
popped ['{', '(']
i )
popped ['{']
i )
popped ['{']
i }
popped []

In [ ]:
n=6
arr=[12,35,36,36,36,36,34,35,33,1,3]
fm=0
sm=0

for i in range(n):
  if fm<arr[i]:
    sm=fm
    fm=arr[i]
  if sm<arr[i]<fm:
    sm=arr[i]

print(sm)

35

In [ ]:
s= "#GeeKs01fOr@gEEks07"
lc=0
uc=0
sc=0
nc=0
for i in s:
  if i.isalpha():
    if i.islower():
      lc+=1
    if i.isupper():
      uc+=1
  elif i.isnumeric():
    nc+=1
  else:
    sc+=1
print(lc,uc,nc,sc)

8 5 4 2

In [ ]:
n=1
print(int(1/2*n*(n+1)))

1

In [ ]:
num=5
a_bin=""
temp=num
while temp>1:
  a_bin+=str(temp%2)
  temp=temp//2
a_bin+=str(temp)
abin=a_bin[::-1]
print(a_bin[::-1])
res=""
for i in abin:
  if i=="0":
    res+="1"
  else:
    res+="0"
print(res)

101
010

In [ ]:
N=40585
def fact(n):
  if n==0 or n==1:
    return 1
  return n*fact(n-1)

sum=0
temp=N
while N>=1:
  r=N%10
  sum+=fact(r)
  print("r,sum",r,sum)
  N//=10
print(sum)
if sum==temp:
  print("Perfect")
else:
  print("Not Perfect")

r,sum 5 120
r,sum 8 40440
r,sum 5 40560
r,sum 0 40561
r,sum 4 40585
40585
Perfect

In [ ]:
S = "geeks01for02geeks03!!!"
s1=""
s2=""
s3=""

for i in S:
  if i.isalpha():
    s1+=i
  elif i.isnumeric():
    s2+=i
  else:
    s3+=i
print(s1,s2,s3)

geeksforgeeks 010203 !!!

In [ ]:
def fact(n):
  if n==0 or n==1:
    return 1
  return n*fact(n-1)

print(fact(8))

40320

In [ ]:
s = "1: Prakhar Agrawal, 2: Manish Kumar Rai, 3: Rishabh Gupta56as23"
intl=[]
int1=""
for i in s:
  if i.isdigit():
      int1+=i
  else:
    if int1:
      intl.append(int1)
      int1=""
if int1:
    intl.append(int1)
print(intl)

['1', '2', '3', '56', '23']

In [ ]:
n=15
c=1
for i in range(n):
  for j in range(i+1):
    print(c,end=" ")
    c+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55
56 57 58 59 60 61 62 63 64 65 66
67 68 69 70 71 72 73 74 75 76 77 78
79 80 81 82 83 84 85 86 87 88 89 90 91
92 93 94 95 96 97 98 99 100 101 102 103 104 105
106 107 108 109 110 111 112 113 114 115 116 117 118 119 120

In [2]:
 s = "100klh564abc365bg"
 final=[]
 num=""
 for i in s:
  if i.isdigit():
    num+=i
  else:
    if num:
      final.append(num)
      num=""

print(max(final))

564